---
import { Image } from "astro:assets";
export interface Props {
    profileImg: ImageMetadata; // Image of the portrait; a square
    name: string;
    title: string;
    desc: string; // Text description
}

const { profileImg, name, title, desc } = Astro.props as Props;
---

<div class="card-container">
    <Image src={profileImg} alt={name} />
    <p
        class="font-Georgia text-honey-flower-800 italic font-bold text-2xl py-2 text-center"
    >
        {name}
    </p>
    <p class="font-Roboto text-honey-flower-800 italic text-xl text-center">
        {title}
    </p>
    <p class="py-1.5 font-Roboto">{desc}</p>
</div>

<style>
    .card-container {
        max-width: 500px;
        padding: 10px;
        font-family: "Roboto", sans-serif;
    }

    img {
        border-radius: 5%;
    }
</style>
