---
import HeadingTitle from "../../components/HeadingTitle.svelte";
import Layout from "../../layouts/Layout.astro";
import CollageImage from "../../components/CollageImage.astro";
import Button from "../../components/Button.svelte";

import groupPhoto from "../../images/caucuses/Group Photo.jpeg";
import AFRAMFlyer from "../../images/caucuses/AFRAM Flyer 2024.png";

const buttonStyle =
  "m-auto lg:mx-1.5 my-1.5 text-white bg-honey-flower-800 hover:bg-honey-flower-950 active:bg-purple-darkest";
const h2Style =
  "text-honey-flower-800 text-3xl lg:text-4xl font-Roboto font-bold ";
const paraStyle = "text-md mt-2";
---

<Layout
  backgroundStyling="bg-gradient-to-br from-red-100 via-amber-100 to-green-100"
  centered="true"
>
  <HeadingTitle text="SEIU African American Caucus" />
  <div class="my-5">
    <h2 class={h2Style.concat("text-center lg:text-left")}>
      Welcome to AFRAM!
    </h2>
    <div class="flex flex-col">
      <div>
        <CollageImage
          src={groupPhoto}
          horizontal="right"
          imageStyle="shadow-black shadow-sm rounded-md my-2.5 max-w-[90vw] sm:max-w-xl lg:max-w-2xl"
        >
          <p class={paraStyle}>
            Welcome to the home of opportunity, engagement, accountability, and
            fellowship. As we begin to navigate our way in a post-pandemic new
            normal, we must not assume that racism and inequity have ceased nor
            desisted. The new "reckoning" looks different but is still grounded
            in systemic and institutional disparities and challenges. AFRAM
            continues to raise awareness and promote social change within our
            union.
          </p>
          <p class={paraStyle}>
            No one person can win the fight against social, racial, wage, or
            disability injustices. WE NEED EACH OTHER. As we coalesce to bring
            forth a powerful and transformative movement within our union, we
            want each of you to feel inspired, empowered, and optimistic about
            the work that our caucus is doing.
          </p>
          <div class="flex flex-col py-2.5">
            <div class="flex flex-col md:flex-row mx-auto">
              <Button
                styling={buttonStyle}
                text="Download Constitution & Bylaws (PDF)"
                href="/PDFs/caucuses/AFRAM C&B.pdf"
                target="_blank"
              />
            </div>
          </div>
        </CollageImage>
      </div>
      <div class="mt-5">
        <h2 class={h2Style.concat("text-center mb-2.5 block lg:hidden")}>
          Join the Membership Meetings!
        </h2>
        <CollageImage
          src={AFRAMFlyer}
          imageStyle="shadow-black shadow-sm rounded-md m-auto max-w-[90vw] sm:max-w-sm lg:max-w-xl"
        >
          <h2 class={h2Style.concat("text-right hidden lg:block")}>
            Join the Membership Meetings!
          </h2>
          <p class={paraStyle}>
            Your membership is more than signing an application. It is your
            commitment to possessing good intentions when the caucus addresses
            perpetuated injustice and the racial heirarchy in our communities,
            states, nation, and even within our union. Your dedication to
            achieving racial equity among our labor membership and staff is
            imperative to the core and success of our caucus!
          </p>
          <div class="flex flex-col py-2.5">
            <div class="mx-auto">
              <Button
                styling={buttonStyle}
                text="Meeting Dates Flyer (PDF)"
                href="/PDFs/caucuses/AFRAM FLYER 6 months 2024.pdf"
                target="_blank"
              />
            </div>
          </div>
        </CollageImage>
      </div>
    </div>
  </div>
</Layout>
