---
import StewardsLayout from "../../layouts/StewardsLayout.astro";
import ProfileGrid from "../../components/ProfileGrid.astro";
import ButtonGrid from "../../components/ButtonGrid.astro";
import PurpleSection from "../../components/Stewards/PurpleSection.astro";
import LavSection from "../../components/Stewards/LavSection.astro";
import Separator from "../../components/Stewards/Separator.astro";

import type { Profile } from "../../Profile";

import Rick from "/src/images/stewards/CC/Rick.png";
import Alexis from "/src/images/stewards/CC/Alexis.jpg";
import Patricia from "/src/images/stewards/CC/Patricia.png";
import Adella from "/src/images/stewards/CC/AdellaLogan.jpg";
import Anissa from "/src/images/stewards/CC/Anissa.png";
import FabPavel from "/src/images/stewards/CC/FabPavel.jpg";
import Joe from "/src/images/stewards/CC/Joe.png";
import JohnMontgomery from "/src/images/stewards/CC/JohnMontgomery.jpeg";
import JudyPerillo from "/src/images/stewards/CC/JudyPerillo.jpg";
import Kevin from "/src/images/stewards/CC/Kevin-Carey-Clark-County-1.jpg";
import MichelleUpton from "/src/images/stewards/CC/Michelle-Upton-CC.png";
import Nirvana from "/src/images/stewards/CC/Nirvana-Hamilton.png";

const dataGeneralUnit: Profile[] = [
    {
        name: "Brent Miller",
        data: [
            ["Title", "Chief Steward"],
            ["Unit", "General Unit"],
            ["Department", "Public Works/Road Division"],
            ["Phone", "(702) 542 - 6952"],
            ["Email", "bmiller@seiunv.org"],
        ],
    },
    {
        name: "Rick Prieto",
        profileImg: Rick,
        data: [
            ["Title", "Chief Steward / Executive Board Member"],
            ["Unit", "General Unit"],
            ["Department", "RPM / Facilities"],
            ["Phone", "(928) 925 - 0439"],
            ["Email", "rprietoseiunv@gmail.com"],
        ],
    },
    {
        name: "Alexis Esparza",
        profileImg: Alexis,
        data: [
            ["Title", "Chief Steward"],
            ["Unit", "General Unit"],
            ["Department", "DAFS"],
            ["Phone", "(504) 508 - 0246"],
            ["Email", "alexisesparza@gmail.com"],
        ],
    },
    {
        name: "Patricia Armstrong",
        profileImg: Patricia,
        data: [
            ["Title", "Bargaining Unit VP / Steward / Executive Board Member"],
            ["Unit", "General Unit"],
            ["Department", "Fire / Building & Permit"],
            ["Phone", "(702) 372 - 6999"],
            ["Email", "armstropa@yahoo.com"],
        ],
    },
    {
        name: "Adella Logan",
        profileImg: Adella,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "Treasurer's Office"],
            ["Phone", "(702) 845 - 7198"],
            ["Email", "kiknitwjesus@aol.com"],
        ],
    },
    {
        name: "Anissa Simmons",
        profileImg: Anissa,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "Bldg. & Safety"],
            ["Phone", "(702) 488 - 5989"],
            ["Email", "anissa88@hotmail.com"],
        ],
    },
    {
        name: "Arturo Espino",
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "Facilities"],
            ["Phone", "(702) 624 - 0892"],
            ["Email", "arturoeg10@gmail.com"],
        ],
    },
    {
        name: "Brian Lenihan",
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "Building & Fire Prevention IT"],
            ["Phone", "(702) 285-2579"],
            ["Email", "brianlenihanpe@gmail.com"],
        ],
    },
    {
        name: "Fab Pavel",
        profileImg: FabPavel,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "RPM / Housekeeping"],
            ["Phone", "(702) 335 - 7939"],
            ["Email", "fabpavel@gmail.com"],
        ],
    },
    {
        name: "Joe Campbell",
        profileImg: Joe,
        data: [
            ["Title", "Steward / Executive Board Member"],
            ["Unit", "General Unit"],
            ["Department", "Road Department"],
            ["Phone", "(702) 768 - 7007"],
            ["Email", "josephcampbell1974@gmail.com"],
        ],
    },
    {
        name: "John Montgomery",
        profileImg: JohnMontgomery,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "District Attorney"],
            ["Phone", "(702) 897 - 2176"],
            ["Email", "webble690@yahoo.com"],
        ],
    },
    {
        name: "Judy Perrillo",
        profileImg: JudyPerillo,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "DAFS"],
            ["Phone", "(702) 592 - 5641"],
            ["Email", "j_perillo@yahoo.com"],
        ],
    },
    {
        name: "Kevin Carey",
        profileImg: Kevin,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "Code Enforcement"],
            ["Phone", "(702) 592 - 5641"],
            ["Email", "j_perillo@yahoo.com"],
        ],
    },
    {
        name: "Matthew Moncayo",
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "Air Quality"],
            ["Phone", "(702) 366 - 0396"],
            ["Email", "matthewmoncayo@aol.com"],
        ],
    },
    {
        name: "Melinda Regules",
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "Juvenile Prosecution"],
            ["Phone", "(702) 343 - 4045"],
            ["Email", "melindaregules@gmail.com"],
        ],
    },
    {
        name: "Michelle Upton",
        profileImg: MichelleUpton,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "Social Services"],
            ["Phone", "(925) 783 - 1149"],
            ["Email", "mechelle0518@gmail.com"],
        ],
    },
    {
        name: "Nirvana Hamilton",
        profileImg: Nirvana,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "DA / Administration / DAFS"],
            ["Phone", "(702) 326 - 8326"],
            ["Email", "edge982@yahoo.com"],
        ],
    },
];

import Saki from "/src/images/stewards/CC/Saki.png";
import JohnBishop from "/src/images/stewards/CC/John-Bishop-DOA-non-sup.png";
import JohnWarthan from "/src/images/stewards/CC/John-W.png";
import Hodge from "/src/images/stewards/CC/Hodge.png";
import Sharita from "/src/images/stewards/CC/SharitaTobin.jpeg";
import TomSharpe from "/src/images/stewards/CC/Tom-Sharpe.png";
const dataDOA: Profile[] = [
    {
        name: 'Ahsaki "Saki" Hardy',
        profileImg: Saki,
        data: [
            ["Title", "Chief Steward / Executive Board Member"],
            ["Unit", "General Unit / DOA"],
            ["Department", "DAFS"],
            ["Phone", "(614) 710 - 8908"],
            ["Email", "dkjshardy@gmail.com"],
        ],
    },
    {
        name: "Alicia Laurent",
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "DAFS"],
            ["Phone", "(702) 332 - 7177"],
            ["Email", "alicia.james.aj.aj@gmail.com"],
        ],
    },
    {
        name: "Gerald Green",
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "DOA / Custodian"],
            ["Phone", "(702) 423 - 6015"],
            ["Email", "gggdog5000@yahoo.com"],
        ],
    },
    {
        name: "John Bishop",
        profileImg: JohnBishop,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "DOA / BHS"],
            ["Phone", "(702) 622 - 5280"],
            ["Email", "jhnhbshp@gmail.com"],
        ],
    },
    {
        name: "John Warthan",
        profileImg: JohnWarthan,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "DOA"],
            ["Phone", "(702) 492 - 1963"],
            ["Email", "j.warthan@yahoo.com"],
        ],
    },
    {
        name: 'Richard "Hodge" Hodgson',
        profileImg: Hodge,
        data: [
            ["Title", "Steward / Executive Board Member"],
            ["Unit", "General Unit"],
            ["Department", "Facilities / DOA"],
            ["Phone", "(702) 810 - 8947"],
            ["Email", "rhodgson@seiunv.org"],
        ],
    },
    {
        name: "Sharita Tobin",
        profileImg: Sharita,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "RPM Housekeeping"],
            ["Phone", "(725) 248-1341"],
            ["Email", "sharitatobin2424@gmail.com"],
        ],
    },
    {
        name: "Sheila Grain",
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "DOA / Business Office"],
            ["Phone", "(310) 890 - 5785"],
            ["Email", "shgrain@hotmail.com"],
        ],
    },
    {
        name: "Tom Sharpe",
        profileImg: TomSharpe,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "DOA / Finance"],
            ["Phone", "(702) 539 - 8017"],
            ["Email", "tsharpe.seiunv@gmail.com"],
        ],
    },
    {
        name: "Victor Camargo",
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "DOA / Electrician"],
            ["Phone", "(909) 731 - 1473"],
        ],
    },
];

import EarlBarnes from "/src/images/stewards/CC/EJBarnes.jpg";
import HowardStone from "/src/images/stewards/CC/HowardStone.jpg";
import MichelleBrown from "/src/images/stewards/CC/MichelleBrown.jpeg";
import NicoleMiller from "/src/images/stewards/CC/Nicole-Miller-CC.png";
import RichardPerez from "/src/images/stewards/CC/RichardPerez.jpg";

const dataDFSDJJS: Profile[] = [
    {
        name: 'Earl "EJ" Barnes',
        profileImg: EarlBarnes,
        data: [
            ["Title", "Steward"],
            ["Unit", "DFS"],
            ["Department", "Emergency Response Team"],
            ["Phone", "(562) 271 - 2192"],
            ["Email", "earlbrns@yahoo.com"],
        ],
    },
    {
        name: "Howard Stone",
        profileImg: HowardStone,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "Juvenile Justice Detention"],
            ["Phone", "(702) 204 - 5373"],
            ["Email", "stonehoward@yahoo.com"],
        ],
    },
    {
        name: "Michelle Brown",
        profileImg: MichelleBrown,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "Specialized Services / DFS"],
            ["Phone", "(702) 301 - 4950"],
            ["Email", "mbrownb7@aol.com"],
        ],
    },
    {
        name: "Nicole Miller",
        profileImg: NicoleMiller,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "Child Haven / DFS"],
            ["Phone", "(702) 604 - 6624"],
            ["Email", "nmiller474@gmail.com"],
        ],
    },
    {
        name: "Richard Perez",
        profileImg: RichardPerez,
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "Child Haven / DFS"],
            ["Phone", "(702) 604 - 6624"],
            ["Email", "nmiller474@gmail.com"],
        ],
    },
];

import JimCowan from "/src/images/stewards/CC/JimCowan.jpg";
const dataWRD: Profile[] = [
    {
        name: "Jim Cowan",
        profileImg: JimCowan,
        data: [
            ["Title", "Chief Steward"],
            ["Unit", "General Unit"],
            ["Department", "Developer Inspectors"],
            ["Phone", "(702) 292 - 8451"],
            ["Email", "jimcowan@seiunv.org"],
        ],
    },
    {
        name: '"Donald" Scott Moden',
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "WRD / Collections"],
            ["Phone", "(702) 290 - 5937"],
            ["Email", "dwandrr@gmail.com"],
        ],
    },
    {
        name: "James Piccinetti",
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "WRD / Collections"],
            ["Phone", "(702) 672 - 9947"],
            ["Email", "piccinettijc@gmail.com"],
        ],
    },
    {
        name: "Oscar Blanco",
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "WRD / Design & Construction"],
            ["Phone", "(602) 640 - 6797"],
            ["Email", "chino.drafting@gmail.com"],
        ],
    },
    {
        name: "Tanner Spendlove",
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "WRD / Soilds Handling"],
            ["Phone", "(702) 573 - 5969"],
            ["Email", "tanner.tiffanispendlove@gmail.com"],
        ],
    },
    {
        name: "Thomas Crawford",
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "WRD / Plant Operations"],
            ["Phone", "(702) 523 - 9035"],
            ["Email", "tcrawford82@outlook.com"],
        ],
    },
    {
        name: 'William "Bill" Supple',
        data: [
            ["Title", "Steward"],
            ["Unit", "General Unit"],
            ["Department", "WRD"],
            ["Phone", "(516) 639 - 5605"],
            ["Email", "WilliamSupple@rocketmail.com"],
        ],
    },
];

import MikelleCieri from "/src/images/stewards/CC/mikelle-cieri.png";
import MarlaMcPherson from "/src/images/stewards/CC/Marla.png";
import SaraEvans from "/src/images/stewards/CC/Sara-Evans.png";
import MarkMatthews from "/src/images/stewards/CC/Mark-Matthews.png";
import Mihanee from "/src/images/stewards/CC/Mihanee-Williams.png";
import RobinFranklin from "/src/images/stewards/CC/Robin-Franklin-CC.png";

const dataSupervisory: Profile[] = [
    {
        name: "Mikelle Cieri",
        profileImg: MikelleCieri,
        data: [
            ["Title", "Chief Steward"],
            ["Unit", "Supervisory Unit"],
            ["Department", "DFS / Permanency"],
            ["Phone", "(702) 328 - 5354"],
            ["Email", "heymikelle@gmail.com"],
        ],
    },
    {
        name: "Marla McPherson",
        profileImg: MarlaMcPherson,
        data: [
            ["Title", "Chief Steward"],
            ["Unit", "Supervisory Unit"],
            ["Department", "DOA / Air Trans System"],
            ["Phone", "(415) 713 - 4952"],
            ["Email", "Marlamseiu@gmail.com"],
        ],
    },
    {
        name: "Sara Evans",
        profileImg: SaraEvans,
        data: [
            ["Title", "Bargaining Unit VP"],
            ["Unit", "Supervisory Unit"],
            ["Department", "DFS"],
            ["Phone", "(702) 569 - 9339"],
            ["Email", "sara.evans3214@gmail.com"],
        ],
    },
    {
        name: "Mark Matthews",
        profileImg: MarkMatthews,
        data: [
            ["Title", "Steward"],
            ["Unit", "Supervisory Unit"],
            ["Department", "IT"],
            ["Phone", "(702) 455 - 0875"],
            ["Email", "markmatthews@usa.net"],
        ],
    },
    {
        name: "Mihanee Williams",
        profileImg: Mihanee,
        data: [
            ["Title", "Steward"],
            ["Unit", "Supervisory Unit"],
            ["Department", "DFS"],
            ["Phone", "(702) 339 - 4145"],
            ["Email", "mihaneeseiu1107@gmail.com"],
        ],
    },
    {
        name: "Robin Franklin",
        profileImg: RobinFranklin,
        data: [
            ["Title", "Steward"],
            ["Unit", "Supervisory Unit"],
            ["Department", "DFS / Investigations"],
            ["Phone", "(702) 460 - 5714"],
            ["Email", "msrobin9797@yahoo.com"],
        ],
    },
];

const buttons = [
    {
        text: "General Unit",
        href: "#GENERAL_UNIT",
    },
    {
        text: "DOA",
        href: "#DOA",
    },
    {
        text: "DFS / DJJS",
        href: "#DFS",
    },
    {
        text: "WRD",
        href: "#WRD",
    },
    {
        text: "Supervisory",
        href: "#Supervisory",
    },
];
---

<StewardsLayout title="Clark County">
    <div class="py-2">
        <ButtonGrid buttons={buttons} />
    </div>

    <PurpleSection title="NON-SUPERVISORY UNIT">
        <div id="GENERAL_UNIT"><Separator text="General Unit" /></div>
        <ProfileGrid data={dataGeneralUnit} />
        <div id="DOA"><Separator text="Department of Aviation (DOA)" /></div>
        <ProfileGrid data={dataDOA} />
        <div id="DFS">
            <Separator
                text="Department of Family Services / Department of Juvenile Justice (DFS/DJJS)"
            />
        </div>
        <ProfileGrid data={dataDFSDJJS} />
        <div id="WRD">
            <Separator text="Water Reclamation District (WRD)" />
        </div>
        <ProfileGrid data={dataWRD} />
    </PurpleSection>

    <div id="Supervisory">
        <LavSection title="SUPERVISORY UNIT">
            <ProfileGrid data={dataSupervisory} />
        </LavSection>
    </div>
</StewardsLayout>
