---
import CollageImage from "../components/CollageImage.astro";
import HeadingTitle from "../components/HeadingTitle.svelte";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.svelte";
import { Image } from "astro:assets";

import imgMask from "../images/communities_united/2023/Mask.jpg";
import imgSoaps from "../images/communities_united/2023/Soaps.jpg";
import imgLeisure from "../images/communities_united/2023/Leisure.jpg";
import imgDJs from "../images/communities_united/2023/DJs.jpg";
import imgCarpenters from "../images/communities_united/2023/Carpenters.jpg";
import imgWilliam from "../images/communities_united/2023/William.jpg";
import imgVote from "../images/communities_united/2023/Vote.jpg";
import imgTitus from "../images/communities_united/2023/Titus.jpg";

// Confirmed Partner Logos
import logoAfricanDevelopmentCenter from "../images/communities_united/2024/logos/AfricanDevelopmentCenter.png";
import logoAfricanDiaspora from "../images/communities_united/2024/logos/AfricanDiaspora.png";
import logoForOurFutureNV from "../images/communities_united/2024/logos/ForOurFutureNV.png";
import logoHRC from "../images/communities_united/2024/logos/HRCLogo.png";
import logoECube from "../images/communities_united/2024/logos/ECube.png";
import logoFACCGN from "../images/communities_united/2024/logos/FACCGN.png";
import logoLVFSFF from "../images/communities_united/2024/logos/LVFSFF.png";
import logoPhilippineTimes from "../images/communities_united/2024/logos/PhilippineTimes.png";
import logoFiafiline from "../images/communities_united/2024/logos/Fiafiline.png";
import logoSSV from "../images/communities_united/2024/logos/SSV.png";
import logoNVAN from "../images/communities_united/2024/logos/NVAN.png";
import logoNAN from "../images/communities_united/2024/logos/NAN.png";
import logoNAACP from "../images/communities_united/2024/logos/NAACP.png";
import logoReproductiveFreedom from "../images/communities_united/2024/logos/ReproductiveFreedom.png";
import logoYesOnSix from "../images/communities_united/2024/logos/YesOnSix.png";
import logoACLU from "../images/communities_united/2024/logos/ACLU.png";
import logoLovee from "../images/communities_united/2024/logos/Lovee.png";
import logoMakeTheRoad from "../images/communities_united/2024/logos/MakeTheRoad.png";
import logoSV from "../images/communities_united/2024/logos/SV Logo.png";
import logoLatinoOutreachSolutions from "../images/communities_united/2024/logos/LatinoOutreachSolutions.png";
import logoAfricanChamber from "../images/communities_united/2024/logos/AfricanChamber.jpg";
import logoACDC from "../images/communities_united/2024/logos/ACDC.png";
import logoATandT from "../images/communities_united/2024/logos/AT&T.png";
import logoBBP from "../images/communities_united/2024/logos/BBP.png";
import logoBJC from "../images/communities_united/2024/logos/BJC.png";
import logoDreamsickle from "../images/communities_united/2024/logos/Dreamsickle.png";
import logoFadeEmAll from "../images/communities_united/2024/logos/FadeEmAll.png";
import logoIAF from "../images/communities_united/2024/logos/IAF.png";
import logoAsianJournal from "../images/communities_united/2024/logos/Asian Journal.png";
import logoMakeItWork from "../images/communities_united/2024/logos/Make It Work Nevada.png";
import logoMFV from "../images/communities_united/2024/logos/MFV.png";
import logoNehemiah from "../images/communities_united/2024/logos/Nehemiah.png";
import logoNOW from "../images/communities_united/2024/logos/NOW.png";
import logoPLAN from "../images/communities_united/2024/logos/PLAN.png";
import logoPlannedParenthood from "../images/communities_united/2024/logos/Planned Parenthood.png";
import logoSSE from "../images/communities_united/2024/logos/SSE.png";
import logoRichWellnessCollective from "../images/communities_united/2024/logos/Rich Wellness Collective.png";
---

<Layout title="SEIU Communities United 2024" centered="true">
  <HeadingTitle text="Communities United: Raising The Stakes 2024" />
  <h2
    class="text-center font-bold text-xl lg:text-2xl font-Roboto text-black italic my-1.5"
  >
    FREE ADMISSION! Food, Music, Art, Markets, Live Performance, and More!
  </h2>
  <div class="max-w-screen-lg flex flex-col m-auto py-2">
    <div class="py-2">
      <CollageImage
        srcList={[imgMask, imgCarpenters, imgSoaps, imgLeisure, imgDJs]}
        duration={6700}
        horizontal="right"
        ><p class="py-2">
          SEIU Local 1107 is proud to announce the return of the highly
          anticipated <b
            >"Communities United: Raising the Stakes Multicultural Festival"</b
          > on <b>Saturday, September 21, from 3-8pm</b> at the <b
            >Clark County Government Center Amphitheater.</b
          > This year marks the festival's third year, with thousands expected to
          join in celebrating our community's rich cultural diversity, inspiring
          civic engagement, and fostering unity.
        </p>
        <p class="py-2">
          Bring your friends and family for a day filled with fun, festivities,
          and meaningful connections. Together, let's celebrate our diversity
          and work towards a brighter, more united future!
        </p>
        <div class="pt-2">
          <ul class="list-disc pl-4">
            <li>
              <b>Date and Time:</b> Saturday, September 21, 3-8pm
            </li>
            <li>
              <b>Location:</b> Clark County Government Center Amphitheater, 500 S
              Grand Central Pkwy
            </li>
          </ul>
        </div>
        <p class="font-bold text-lg font-Roboto text-black italic">
          ATTENDEES, PARTNERS, VENDORS, and PERFORMERS! RVSP and Sign Up on
          Mobilize Today:
        </p>
        <div class="flex flex-col">
          <Button
            text="RSVP on Mobilize"
            styling="my-1.5 mx-auto text-white scale-125 hover:scale-[140%] bg-honey-flower-800 hover:bg-honey-flower-950 active:bg-purple-darkest"
            href="https://www.mobilize.us/seiunevada/event/643057/"
            target="_blank"
          />
        </div>
      </CollageImage>
    </div>
    <div class="py-2">
      <CollageImage srcList={[imgWilliam, imgVote, imgTitus]} duration={7650}>
        <p>
          The 2024 Communities United Festival holds significance as Nevada is a
          crucial battleground state in the upcoming election. The event aims to
          mobilize voters - in particular union members, youth, and communities
          of color - through voter registration and education initiatives.
          Attendees will have the opportunity to engage with various
          organizations dedicated to encouraging unprecedented voter
          participation in this pivotal election.
        </p>
        <p class="py-2">
          "This festival is about more than just celebrating our diverse
          cultures; it's about harnessing our collective power to make a
          difference," said Michelle Maese, President of SEIU Local 1107.
          "Communities United aims to inspire and mobilize our community to take
          action. We anticipate our biggest turnout ever this year, as the
          enthusiasm and support from past years continue to grow. Don't miss
          your chance to be part of this year's festivities!"
        </p>
      </CollageImage>
    </div>
    <div class="flex flex-col py-2">
      <Button
        text="RSVP on Mobilize"
        styling="my-1.5 mx-auto text-white scale-125 hover:scale-[140%] bg-honey-flower-800 hover:bg-honey-flower-950 active:bg-purple-darkest"
        href="https://www.mobilize.us/seiunevada/event/643057/"
        target="_blank"
      />
    </div>
    <div class="bg-white shadow-md shadow-black flex flex-col p-5 m-auto">
      <div
        class="text-black font-Trebuchet text-center font-bold text-3xl py-3"
      >
        Event Partners
      </div>
      <div class="text-center italic py-2">
        As we confirm partners, they will be added to the list here.
      </div>
      <ul
        class="ml-5 list-disc grid gap-5 grid-cols-3 md:grid-cols-4 lg:grid-cols-5"
      >
        <Image src={logoAfricanDevelopmentCenter} alt="" />
        <div class="row-span-2"><Image src={logoAfricanDiaspora} alt="" /></div>
        <div class="row-span-2"><Image src={logoECube} alt="" /></div>
        <Image src={logoFACCGN} alt="" />
        <Image src={logoForOurFutureNV} alt="" />
        <Image src={logoHRC} alt="" />
        <Image src={logoLVFSFF} alt="" />
        <Image src={logoPhilippineTimes} alt="" />
        <div class="row-span-2">
          <Image src={logoFiafiline} alt="" />
        </div>
        <Image src={logoNVAN} alt="" />
        <Image src={logoNAN} alt="" />
        <Image src={logoYesOnSix} alt="" />
        <Image src={logoACLU} alt="" />
        <Image src={logoLovee} alt="" />
        <Image src={logoMakeTheRoad} alt="" />
        <Image src={logoAfricanChamber} alt="" />
        <Image src={logoACDC} alt="" />
        <Image src={logoBBP} alt="" />
        <Image src={logoFadeEmAll} alt="" />
        <Image src={logoIAF} alt="" />
        <Image src={logoAsianJournal} alt="" />
        <Image src={logoMakeItWork} alt="" />
        <Image src={logoMFV} alt="" />
        <Image src={logoNehemiah} alt="" />
        <div class="row-span-2"><Image src={logoNOW} alt="" /></div>
        <Image src={logoLatinoOutreachSolutions} alt="" />
        <Image src={logoSV} alt="" />
        <Image src={logoReproductiveFreedom} alt="" />
        <Image src={logoDreamsickle} alt="" />
        <Image src={logoBJC} alt="" />
        <Image src={logoATandT} alt="" />
        <Image src={logoPLAN} alt="" />
        <Image src={logoPlannedParenthood} alt="" />
        <Image src={logoSSV} alt="" />
        <Image src={logoSSE} alt="" />
        <Image src={logoNAACP} alt="" />
        <Image src={logoRichWellnessCollective} alt="" />
      </ul>
      <div
        class="text-black font-Trebuchet text-center font-bold text-3xl py-3"
      >
        Full List of Event Partners
      </div>
      <ul class="ml-5 list-disc grid gap-5 grid-cols-1 md:grid-cols-2">
        <li>ACLU</li>
        <li>African Chamber of Commerce and Tourism</li>
        <li>African Diaspora of Las Vegas (ADOLV)</li>
        <li>African Development Center of Nevada</li>
        <li>Asian Community Development Council</li>
        <li>AT&T Mobility</li>
        <li>Battle Born Progress</li>
        <li>Black Joy Consliting</li>
        <li>Dr. Luare Chappel - Love</li>
        <li>Dream Sickle Foundation</li>
        <li>E-Cube Solutions LLC</li>
        <li>Fade Em' All Barber Shop</li>
        <li>Family Services - Foster Care Recruitment</li>
        <li>Filipino American Chamber of Greater Nevada</li>
        <li>For Our Future</li>
        <li>HRC</li>
        <li>IFA</li>
        <li>Isagani Tumbaga</li>
        <li>Japanese Teachers Association</li>
        <li>Las Vegas Asian Journal</li>
        <li>Latino Outreach Solutions</li>
        <li>Las Vegas Filipino Short Film Festival for FASFOS</li>
        <li>Lovee Inc</li>
        <li>Make It Work</li>
        <li>Make The Road</li>
        <li>Marie Ketter</li>
        <li>Mi Familia Vota</li>
        <li>National Action Network</li>
        <li>Native Voters Alliance</li>
        <li>Nehemiah Ministries</li>
        <li>Nevadans for Reproductive Freedom</li>
        <li>NOW</li>
        <li>NAACP</li>
        <li>PLAN</li>
        <li>Planned Parenthood</li>
        <li>Rich Wellness Collective</li>
        <li>Somos Votontos</li>
        <li>Silver State Equality</li>
        <li>Silver State Voices</li>
        <li>We Decide Campaign</li>
      </ul>
    </div>
  </div>
</Layout>
