---
import CollageImage from "../components/CollageImage.astro";
import HeadingTitle from "../components/HeadingTitle.svelte";
import Layout from "../layouts/Layout.astro";
import Subtitle from "../components/Subtitle.svelte";
import Carousel from "../components/Carousel.svelte";
import { Image } from "astro:assets";

import imgMask from "../images/communities_united/2023/Mask.jpg";
import imgSoaps from "../images/communities_united/2023/Soaps.jpg";
import imgLeisure from "../images/communities_united/2023/Leisure.jpg";
import imgDJs from "../images/communities_united/2023/DJs.jpg";
import imgCarpenters from "../images/communities_united/2023/Carpenters.jpg";
import imgWilliam from "../images/communities_united/2023/William.jpg";
import imgVote from "../images/communities_united/2023/Vote.jpg";
import imgTitus from "../images/communities_united/2023/Titus.jpg";

// Confirmed Partner Logos
import logoAfricanDevelopmentCenter from "../images/communities_united/2024/logos/AfricanDevelopmentCenter.png";
import logoAfricanDiaspora from "../images/communities_united/2024/logos/AfricanDiaspora.png";
import logoForOurFutureNV from "../images/communities_united/2024/logos/ForOurFutureNV.png";
import logoHRC from "../images/communities_united/2024/logos/HRCLogo.png";
import logoECube from "../images/communities_united/2024/logos/ECube.png";
import logoFACCGN from "../images/communities_united/2024/logos/FACCGN.png";
import logoLVFSFF from "../images/communities_united/2024/logos/LVFSFF.png";
import logoPhilippineTimes from "../images/communities_united/2024/logos/PhilippineTimes.png";
import logoFiafiline from "../images/communities_united/2024/logos/Fiafiline.png";
import logoSSV from "../images/communities_united/2024/logos/SSV.png";
import logoNVAN from "../images/communities_united/2024/logos/NVAN.png";
import logoNAN from "../images/communities_united/2024/logos/NAN.png";
import logoNAACP from "../images/communities_united/2024/logos/NAACP.png";
import logoReproductiveFreedom from "../images/communities_united/2024/logos/ReproductiveFreedom.png";
import logoYesOnSix from "../images/communities_united/2024/logos/YesOnSix.png";
import logoACLU from "../images/communities_united/2024/logos/ACLU.png";
import logoLovee from "../images/communities_united/2024/logos/Lovee.png";
import logoMakeTheRoad from "../images/communities_united/2024/logos/MakeTheRoad.png";
import logoSV from "../images/communities_united/2024/logos/SV Logo.png";
import logoLatinoOutreachSolutions from "../images/communities_united/2024/logos/LatinoOutreachSolutions.png";
import logoAfricanChamber from "../images/communities_united/2024/logos/AfricanChamber.jpg";
import logoACDC from "../images/communities_united/2024/logos/ACDC.png";
import logoATandT from "../images/communities_united/2024/logos/AT&T.png";
import logoBBP from "../images/communities_united/2024/logos/BBP.png";
import logoBJC from "../images/communities_united/2024/logos/BJC.png";
import logoDreamsickle from "../images/communities_united/2024/logos/Dreamsickle.png";
import logoFadeEmAll from "../images/communities_united/2024/logos/FadeEmAll.png";
import logoIAF from "../images/communities_united/2024/logos/IAF.png";
import logoAsianJournal from "../images/communities_united/2024/logos/Asian Journal.png";
import logoMakeItWork from "../images/communities_united/2024/logos/Make It Work Nevada.png";
import logoMFV from "../images/communities_united/2024/logos/MFV.png";
import logoNehemiah from "../images/communities_united/2024/logos/Nehemiah.png";
import logoNOW from "../images/communities_united/2024/logos/NOW.png";
import logoPLAN from "../images/communities_united/2024/logos/PLAN.png";
import logoPlannedParenthood from "../images/communities_united/2024/logos/Planned Parenthood.png";
import logoSSE from "../images/communities_united/2024/logos/SSE.png";
import logoRichWellnessCollective from "../images/communities_united/2024/logos/Rich Wellness Collective.png";
import logoFamilyServices from "../images/communities_united/2024/logos/CCFamilyServices.png";
import logoJuneteenth from "../images/communities_united/2024/logos/Juneteenth.png";
import logoHumana from "../images/communities_united/2024/logos/Humana.png";
import logoCarpenters from "../images/communities_united/2024/logos/Carpenters.png";
import logoAFLCIO from "../images/communities_united/2024/logos/AFL-CIO.png";
import logoAPRI from "../images/communities_united/2024/logos/APRI.png";
import logoDFA from "../images/communities_united/2024/logos/DFA.png";
import logoCulinary from "../images/communities_united/2024/logos/Culinary.png";
import logoRosen from "../images/communities_united/2024/logos/RosenBlack.png";
import logoAAPICaucus from "../images/communities_united/2024/logos/AAPI_Caucus.png";
import logoIAFF from "../images/communities_united/2024/logos/IAFF 1908.png";
import logoPlumbers from "../images/communities_united/2024/logos/Plumbers.png";
import logoIATSE from "../images/communities_united/2024/logos/IATSE.png";
import logoTWU from "../images/communities_united/2024/logos/TWU.png";
import logoNDWA from "../images/communities_united/2024/logos/NDWA.png";
import LatinoLogo from "../images/caucuses/Latino/TransparentLogo.png";
import LavenderCaucus from "../images/communities_united/2024/logos/Lavender Caucus.png";
import logoCenterLV from "../images/communities_united/2024/logos/The Center LV.png";
import logoNUWU from "../images/communities_united/2024/logos/NUWU.png";
import logoHOVP from "../images/communities_united/2024/logos/HOVP.png";
import logoZenoverse from "../images/communities_united/2024/logos/zenoverse.png";
import logoSNBTU from "../images/communities_united/2024/logos/SNBTU.png";
import logoNextGen from "../images/communities_united/2024/logos/nextgen.png";
import logoAPALA from "../images/communities_united/2024/logos/APALA.png";
import logoNinjazz from "../images/communities_united/2024/logos/ninjazz.png";
import logoAFRAM from "../images/communities_united/2024/logos/AFRAM.png";
import logoWeDecide from "../images/communities_united/2024/logos/We Decide.png";
---

<Layout title="SEIU Communities United 2024" centered={true}>

  <HeadingTitle text="Communities United: Raising the Stakes" />
  <h2
    class="text-center font-bold text-xl lg:text-2xl font-Roboto text-black italic my-1.5"
  >
    An Annual Multicultural Festival
  </h2>
  <div class="max-w-screen-lg flex flex-col m-auto py-2">
    <div class="py-2">
      <CollageImage
        srcList={[imgMask, imgCarpenters, imgSoaps, imgLeisure, imgDJs]}
        duration={6700}
        horizontal="right"
      >
        <Subtitle text="What is Communities United?" />
        <p>
          Delivering a powerful rebuke to the alarming rise in hate crimes and
          divisive rhetoric in recent years, SEIU 1107 is proud to host the
          annual <b>“Communities United Multicultural Festival”</b>
          to celebrate diversity and the right to vote. The event is held as part
          of our union's ongoing commitment to diversity, civic engagement, voter
          participation and understanding across racial and identity lines.
        </p>
      </CollageImage>
    </div>
    <div class="py-2">
      <CollageImage srcList={[imgWilliam, imgVote, imgTitus]} duration={7650}>
        <p>
          The 2024 Communities United Festival holds significance as Nevada is a
          crucial battleground state in the upcoming election. The event aims to
          mobilize voters - in particular union members, youth, and communities
          of color - through voter registration and education initiatives.
          Attendees will have the opportunity to engage with various
          organizations dedicated to encouraging unprecedented voter
          participation in this pivotal election.
        </p>
        <p class="py-2">
          "This festival is about more than just celebrating our diverse
          cultures; it's about harnessing our collective power to make a
          difference," said Michelle Maese, President of SEIU Local 1107.
          "Communities United aims to inspire and mobilize our community to take
          action. We anticipate our biggest turnout ever this year, as the
          enthusiasm and support from past years continue to grow. Don't miss
          your chance to be part of this year's festivities!"
        </p>
      </CollageImage>
    </div>
    <div class="bg-white shadow-md shadow-black flex flex-col p-5 m-auto">
      <div
        class="text-black font-Trebuchet text-center font-bold text-3xl py-3"
      >
        Event Partners
      </div>
      <div class="text-center italic py-2">
        As we confirm partners, they will be added to the list here.
      </div>
      <ul
        class="ml-5 list-disc grid gap-5 grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6"
      >
        <Image src={logoAfricanDevelopmentCenter} alt="" />
        <div class="row-span-2">
          <Image src={logoAfricanDiaspora} alt="" />
        </div>
        <div class="row-span-2"><Image src={logoECube} alt="" /></div>
        <Image src={logoFACCGN} alt="" />
        <Image src={logoForOurFutureNV} alt="" />
        <Image src={logoHRC} alt="" />
        <Image src={logoLVFSFF} alt="" />
        <Image src={logoPhilippineTimes} alt="" />
        <div class="row-span-2">
          <Image src={logoFiafiline} alt="" />
        </div>
        <Image src={logoNVAN} alt="" />
        <Image src={logoNAN} alt="" />
        <Image src={logoYesOnSix} alt="" />
        <Image src={logoACLU} alt="" />
        <Image src={logoLovee} alt="" />
        <Image src={logoMakeTheRoad} alt="" />
        <Image src={logoAfricanChamber} alt="" />
        <Image src={logoACDC} alt="" />
        <Image src={logoBBP} alt="" />
        <Image src={logoFadeEmAll} alt="" />
        <Image src={logoIAF} alt="" />
        <Image src={logoAsianJournal} alt="" />
        <Image src={logoMakeItWork} alt="" />
        <Image src={logoMFV} alt="" />
        <Image src={logoNehemiah} alt="" />
        <div class="row-span-2"><Image src={logoNOW} alt="" /></div>
        <Image src={logoLatinoOutreachSolutions} alt="" />
        <Image src={logoSV} alt="" />
        <Image src={logoReproductiveFreedom} alt="" />
        <Image src={logoRosen} alt="" />
        <Image src={logoDreamsickle} alt="" />
        <Image src={logoBJC} alt="" />
        <Image src={logoATandT} alt="" />
        <Image src={logoPLAN} alt="" />
        <Image src={logoPlannedParenthood} alt="" />
        <Image src={logoCenterLV} alt="" />
        <Image src={logoSSV} alt="" />
        <Image src={logoSSE} alt="" />
        <div class="row-span-2"><Image src={logoCulinary} alt="" /></div>
        <Image src={logoNAACP} alt="" />
        <Image src={logoHumana} alt="" />
        <div class="row-span-2">
          <Image src={logoRichWellnessCollective} alt="" />
        </div>
        <Image src={logoFamilyServices} alt="" />
        <div class="row-span-2"><Image src={logoJuneteenth} alt="" /></div>
        <div class="row-span-2"><Image src={logoCarpenters} alt="" /></div>
        <div class="row-span-2"><Image src={logoAFLCIO} alt="" /></div>
        <Image src={logoAPRI} alt="" />
        <Image src={logoDFA} alt="" />
        <Image src={logoIAFF} alt="" />
        <Image src={logoPlumbers} alt="" />
        <Image src={logoIATSE} alt="" />
        <Image src={logoTWU} alt="" />
        <Image src={logoNDWA} alt="" />
        <div class="row-span-2"><Image src={logoAAPICaucus} alt="" /></div>
        <Image src={logoAFRAM} alt="" />
        <Image src={LatinoLogo} alt="" />
        <Image src={LavenderCaucus} alt="" />
        <Image src={logoNUWU} alt="" />
        <Image src={logoHOVP} alt="" />
        <Image src={logoZenoverse} alt="" />
        <Image src={logoSNBTU} alt="" />
        <Image src={logoNextGen} alt="" />
        <Image src={logoAPALA} alt="" />
        <Image src={logoNinjazz} alt="" />
        <Image src={logoWeDecide} alt="" />
      </ul>
      <div
        class="text-black font-Trebuchet text-center font-bold text-3xl py-3"
      >
        Event Partners
      </div>
      <ul class="ml-5 list-disc grid gap-5 grid-cols-1 md:grid-cols-2">
        <li>ACLU</li>
        <li>AFL-CIO</li>
        <li>APALA</li>
        <li>A Philip Randolph</li>
        <li>African Chamber of Commerce and Tourism</li>
        <li>African Diaspora of Las Vegas (ADOLV)</li>
        <li>African Development Center of Nevada</li>
        <li>Asian Community Development Council</li>
        <li>AT&T Mobility</li>
        <li>Battle Born Progress</li>
        <li>Black Joy Consliting</li>
        <li>Carpenters Union</li>
        <li>The Center LV</li>
        <li>Culinary Local 226</li>
        <li>Democracy For All</li>
        <li>Dr. Luare Chappel - Love</li>
        <li>Dream Sickle Foundation</li>
        <li>E-Cube Solutions LLC</li>
        <li>Fade Em' All Barber Shop</li>
        <li>Family Services - Foster Care Recruitment</li>
        <li>Filipino American Chamber of Greater Nevada</li>
        <li>For Our Future</li>
        <li>Human Rights Campaign (HRC)</li>
        <li>IAFF 1908</li>
        <li>IATSE</li>
        <li>Indigenous AF</li>
        <li>Isagani Tumbaga</li>
        <li>Japanese Teachers Association</li>
        <li>Las Vegas Asian Journal</li>
        <li>Latino Outreach Solutions</li>
        <li>Las Vegas Filipino Short Film Festival for FASFOS</li>
        <li>Lovee Inc</li>
        <li>Make It Work</li>
        <li>Make The Road</li>
        <li>Marie Ketter</li>
        <li>Mi Familia Vota</li>
        <li>National Action Network</li>
        <li>National Domestic Workers Alliance</li>
        <li>Native Voters Alliance</li>
        <li>Nehemiah Ministries</li>
        <li>Nevadans for Reproductive Freedom</li>
        <li>NOW</li>
        <li>NAACP</li>
        <li>PLAN</li>
        <li>Planned Parenthood</li>
        <li>Plumbers and Pipefitters NV</li>
        <li>Rich Wellness Collective</li>
        <li>Somos Votontos</li>
        <li>Silver State Equality</li>
        <li>Silver State Voices</li>
        <li>Transport Workers Union</li>
        <li>We Decide Campaign</li>
      </ul>
    </div>
  </div>
</Layout>
