---
import HeadingTitle from "../components/HeadingTitle.astro";
import Layout from "../layouts/Layout.astro";
import ProfileCardBig from "../components/ExecutiveBoard/ExecutiveBoardProfileCardBig.astro";
import ProfileCardSmall from "../components/ExecutiveBoard/ExecutiveBoardProfileCardSmall.astro";

// Big Profiles
import Yarleny from "/src/images/stewards/UMC/Yarleny-1024x1024.png";
import Grace from "/src/images/executive_board/Grace-1-1024x1024.png";
import Michelle from "/src/images/stewards/CC/Michelle-1-1024x1024.png";
import Deb from "/src/images/stewards/CC/Debbie-1024x1024.png";
import Zavia from "/src/images/stewards/Sunrise/Zavia-1024x1024.png";

const bigProfPeopleData = [
    // Big Profiles
    {
        profileImg: Grace,
        name: "Grace Vergara-Mactal",
        Title: "SEIU 1107 Executive Director",
        desc: "Grace has committed her life to mobilizing workers to fight for economic and social justice and raising standards for all working families. She is a former hospital worker, SEIU member leader, and brings 25 years of experience as an SEIU Organizer, Organizing Director, Chief of Staff, Local 1107 Trustee, a member of the Asian Pacific American Labor Alliance of Nevada, and the Executive Board of the Nevada AFL-CIO.",
    },
    {
        profileImg: Michelle,
        name: "Michelle Maese",
        Title: "SEIU 1107 President",
        desc: "County Department of Family Services (DF). She is Chief Steward for the Clark County Supervisory Unit. She Chairs the SEIU 1107 Political Organizing Committee (POC) and also serves on the Finance and Racial Justice Committees.",
    },
    {
        profileImg: Yarleny,
        name: "Yarleny Roa-Dugan",
        Title: "SEIU 1107 Secretary-Treasurer",
        desc: "Yarleny is a registered nurse at UMC and an SEIU member for the last eight years. She has been an active member and leader in the union, serving as a Steward at Southern Hills Hospital and UMC. She is also a Board member of Governor’s Steve Sisolak’s Patient Protection Commission as a Patient Advocate.",
    },
    {
        profileImg: Deb,
        name: "Deb Springer",
        Title: "SEIU 1107 Vice President Public Sector",
        desc: "Debbie works at Clark County District Attorney Family Support (DAFS). She is Co-Chair of the Political Organizing Committee (POC).",
    },
    {
        profileImg: Zavia,
        name: "Zavia Norman",
        Title: "SEIU 1107 Vice President Private Sector",
        desc: "Zavia is a Respiratory Therapist at Sunrise Hospital. She is also Co-Chair of the Political Organizing Committee. ",
    },
];

// Small Profiles
import Patricia from "/src/images/stewards/CC/Patricia.png";
import Elizabeth from "/src/images/stewards/UMC/elizabeth bolhouse.png";
import Joe from "/src/images/stewards/CC/Joe.png";
import Nicole from "/src/images/executive_board/Nicole.png";
import Jody from "/src/images/stewards/Sunrise/Jody.png";
import Saki from "/src/images/stewards/CC/Saki.png";
import Hodge from "/src/images/stewards/CC/Hodge.png";
import Pam from "/src/images/executive_board/Pam.png";
import Audrey from "/src/images/stewards/UMC/Audrey.png";
import Theresa from "/src/images/stewards/UMC/TheresaKing.png";
import Karla from "/src/images/executive_board/Karla.png";
import Rick from "/src/images/stewards/CC/Rick.png";
import Erika from "/src/images/stewards/Sunrise/Erika.png";
import LinkText from "../components/LinkText.astro";

const smallProfPeopleData = [
    {
        profileImg: Patricia,
        name: "Patricia Armstrong",
        shop: "Clark County",
    },
    {
        profileImg: Elizabeth,
        name: "Elizabeth Bolhouse",
        shop: "University Medical Center",
    },
    {
        profileImg: Joe,
        name: "Joe Campbell",
        shop: "Clark County",
    },
    {
        profileImg: Nicole,
        name: "Nicole Courts-Wolf",
        shop: "Renown Medical/NNRH",
    },
    {
        profileImg: Jody,
        name: "Jody Domineck",
        shop: "Sunrise Hospital",
    },
    {
        profileImg: Saki,
        name: 'Ashaki "Saki" Hardy',
        shop: "Clark County District Attorney Family Support (DAFS)",
    },
    {
        profileImg: Hodge,
        name: "Richard Hodgson",
        shop: "Clark County",
    },
    {
        profileImg: Pam,
        name: "Pam Jahan",
        shop: "Dignity Health",
    },
    {
        profileImg: Audrey,
        name: "Audrey Johnson",
        shop: "University Medical Center",
    },
    {
        profileImg: Theresa,
        name: "Theresa King",
        shop: "University Medical Center",
    },
    {
        profileImg: Karla,
        name: "Karla Nolan",
        shop: "Las Vegas Convention and Visitors Authority (LVCVA)",
    },
    { profileImg: Rick, name: "Rick Prieto", shop: "Clark County" },
    { profileImg: Erika, name: "Erika Watanabe", shop: "Sunrise Hospital" },
];
---

<Layout title="SEIU Local 1107 Executive Board">
    <HeadingTitle text="Meet the Local 1107 Executive Board" />
    <div class="py-2.5 m-auto max-w-screen-lg">
        <p class="text-center font-Roboto text-black text-xl py-2.5">
            SEIU Local 1107 is committed to democracy both inside and outside of
            our union. Our Executive Board is elected by fellow union members,
            and their role to carry out the mission and work of our union. Some
            of the duties are setting strategic goals, creating the budget, and
            authoring policies.
        </p>
        <p class="text-center font-Roboto text-black text-md">
            Board members are elected to three-year terms, and the process is
            outlined in Article VII of our union
            <LinkText href="/constitution/">
                <b>Constitution & Bylaws</b>
            </LinkText>. The board has five officers: Executive Director,
            President, Secretary-Treasurer, Vice President Public Sector, and
            Vice President Private Sector. At-large members are elected based on
            workplace, with every area earning at least one spot and larger
            workplaces earning more.
        </p>
    </div>
    <div class="flex justify-center content-center m-auto max-w-screen-xl">
        <div
            class="mx-7 grid gap-4 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
        >
            {
                bigProfPeopleData.map((person) => (
                    <ProfileCardBig
                        profileImg={person.profileImg}
                        name={person.name}
                        title={person.Title}
                        desc={person.desc}
                    />
                ))
            }
        </div>
    </div>
    <div class="flex justify-center content-center m-auto max-w-screen-xl">
        <div
            class="mx-7 grid gap-4 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
        >
            {
                smallProfPeopleData.map((person) => (
                    <ProfileCardSmall
                        profileImg={person.profileImg}
                        name={person.name}
                        shop={person.shop}
                    />
                ))
            }
        </div>
    </div>
</Layout>

<style>
    .grid .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0;
        margin: auto;
    }

    .small-grid .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-column-gap: 0;
        margin: auto;
    }

    @media (max-width: 800px) {
        .grid .container {
            grid-template-columns: 1fr;
        }
        .small-grid .container {
            grid-template-columns: 1fr;
        }
    }
</style>
