---
import Layout from "../layouts/Layout.astro";
import LatestNews from "../components/Index/LatestNews.astro";
import SocialMediaFeeds from "../components/Index/SocialMediaFeeds.astro";
import StrongerTogether from "../components/Index/StrongerTogether.astro";
import HeadingTitle from "../components/HeadingTitle.svelte";
import CollageImage from "../components/CollageImage.astro";
import LinkText from "../components/LinkText.astro";
import Button from "../components/Button.svelte";
import StringCycle from "../components/StringCycle.svelte";

import imgTogether from "../images/index/JoinTogether.jpg";
import AFRAMLogo from "../images/caucuses/AFRAM Logo.png";
import imgTraining from "../images/strength_training/BigRoom.jpg";
import imgStewardsTraining from "../images/strength_training/StewardsTraining.jpg";
---

<Layout>
  <main
    class="hidden lg:hidden bg-cover bg-top lg:bg-left bg-[url(/src/images/index/HomecareMobile.png)] h-full mx-auto w-full"
  >
    <div class="flex flex-col lg:flex-row xl:mx-10">
      <div
        class="lg:hidden pt-5 text-white tinyShadow font-Trebuchet font-bold uppercase text-center text-5xl max-w-screen-sm m-auto"
      >
        Watch SEIU 1107's 2023 Recap!
      </div>
      <div class="mx-auto py-5 hidden lg:block lg:pt-20">
        <iframe
          width="672"
          height="378"
          src="https://www.youtube.com/embed/VEipjl7Pc4U?si=xUQ4S0rhiO8cpzB8"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div
        class="flex flex-col mx-auto pb-20 lg:m-0 lg:ml-auto justify-between max-w-md lg:max-w-screen-md"
      >
        <div
          class="hidden lg:block pt-5 text-white tinyShadow font-Trebuchet font-bold uppercase text-center text-5xl lg:text-6xl max-w-screen-sm m-auto"
        >
          SEIU Nevada's 2023 Recap!
        </div>
        <h1
          class="shadowClass uppercase font-bold mx-5 py-5 font-Roboto text-center text-supernova-400 text-6xl lg:text-7xl"
        >
          When we fight, we win!
        </h1>
        <div class="mx-auto lg:max-w-screen-sm pt-10">
          <Button
            text="Watch on Youtube"
            href="https://youtu.be/VEipjl7Pc4U?si=zUoBcD9ZaKm_FHOi"
            styling="bg-supernova-400 hover:bg-supernova-500 text-honey-flower-800 scale-125 hover:scale-[145%] lg:scale-150 lg:hover:scale-[160%] active:bg-supernova-600"
            ;
          />
        </div>
      </div>
    </div>
  </main>

  <!-- 
    <main
    class="bg-cover bg-top lg:bg-left bg-[url(/src/images/index/HomecareMobile.png)] lg:bg-[url(/src/images/index/HomecareGraphic.jpg)] h-full mx-auto w-full"
  >
    <div
      class="flex flex-col mx-auto lg:m-0 lg:ml-auto justify-between max-w-md lg:max-w-screen-md py-10 lg:py-12"
    >
      <div
        class="text-white tinyShadow font-Trebuchet font-bold uppercase py-5 text-center text-3xl lg:text-4xl max-w-screen-sm m-auto lg:m-0 lg:ml-auto lg:pr-3"
      >
        Nevada's Health Care, Home Care, and Public Workers
      </div>
      <div class="lg:max-w-screen-sm m-auto lg:m-0 lg:ml-auto">
        <h1
          class="shadowClass uppercase font-bold mx-5 font-Roboto text-center text-supernova-400 text-6xl lg:text-7xl"
        >
          United For Quality Services
        </h1>
      </div>
    </div>
  </main>
   -->

  <div class="bg-gradient-to-bl from-supernova-300 to-supernova-500 py-4">
    <HeadingTitle text="Communities United 2024 - RSVP Today!" />
    <h2
      class="font-Roboto text-black text-3xl lg:text-4xl font-bold text-center italic my-2"
    >
      Raising The Stakes!
    </h2>

    <div
      class="m-auto max-w-screen-xs sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg flex flex-col"
    >
      <CollageImage
        srcList={[AFRAMLogo, imgTogether, imgTraining]}
        duration={2000}
        horizontal="right"
        imageStyle="shadow-black shadow-sm rounded-md m-auto max-w-xs sm:max-wd-sm md:max-w-md lg:max-w-xl"
      >
        <div class="flex flex-col">
          <p class="py-2 text-black text-xl text-left mx-2">
            The National African American Caucus of the Service Employees
            International Union (SEIU) is committed to enhancing opportunities
            for education, training mentor-ship, leadership development and
            networking for SEIU members and staff of African descent.
          </p>
          <p class="py-2 text-black text-xl text-left mx-2">
            We further engage to promote social, economic and political justice
            within our workplace, our communities, our nation and within our
            union.
          </p>
          <p class="py-2 text-black text-xl text-left mx-2">
            We shall further encourage our members to actively engage in efforts
            to organize the unorganized and to fully participate in the
            development and implementation of labor's political agenda and
            programs.
          </p>
          <Button
            text="Meeting Dates"
            styling="mt-5 mx-auto text-white scale-125 hover:scale-[140%] bg-honey-flower-800 hover:bg-honey-flower-950 active:bg-purple-darkest"
            href="/caucuses/afram"
          />
        </div>
      </CollageImage>
    </div>
  </div>

  <div
    class="bg-gradient-to-b from-honey-flower-800 to-honey-flower-900 py-4 flex flex-col m-auto"
  >
    <HeadingTitle
      text="Get Involved! Attend Our Trainings!"
      styling="hidden lg:block m-auto font-Trebuchet font-bold text-center text-supernova-400 py-5"
    />
    <h2
      class="text-center font-bold text-3xl lg:text-4xl font-Roboto text-honey-flower-800 bg-supernova-500 py-3"
    >
      Attention Stewards! Attending an Intermediate Steward Training is <u
        >MANDATORY</u
      >! Sign up below today!
    </h2>
    <div class="max-w-screen-xl m-auto">
      <div class="flex flex-col lg:flex-row">
        <div class="m-auto">
          <h2
            class="m-auto font-Trebuchet font-bold text-center text-supernova-400 py-5 text-3xl lg:text-4xl max-w-lg"
          >
            Participate in our Member Strength Trainings!
          </h2>

          <div
            class="m-auto max-w-screen-xs sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg flex flex-col"
          >
            <CollageImage
              src={imgTraining}
              imageStyle="shadow-black shadow-sm rounded-md m-auto max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl"
              float={false}
            >
              <div class="flex flex-col max-w-screen-sm lg:max-w-screen-md">
                <p class="py-2 text-honey-flower-50 text-xl text-left mx-2">
                  The more of us who participate, the more improvements we can
                  make to our wages, benefits, and working conditions! Attend
                  one of the upcoming trainings and start making an impact on
                  your workplace.
                </p>
                <p class="py-2 text-honey-flower-50 text-xl text-left mx-2">
                  There's strength in numbers, so become a proud union member
                  today and ask ALL your coworkers to <LinkText
                    color="text-blue-300"
                    href="/join">sign up</LinkText
                  >! For more info, talk to a member of the bargaining team or
                  contact Rosy Salinas at <LinkText
                    color="text-blue-300"
                    href="mailto:rsalinas@seiunv.org"
                    >rsalinas@seiunv.org</LinkText
                  >.
                </p>
                <p
                  class="py-2 text-honey-flower-50 font-bold text-xl text-left mx-2"
                >
                  <i>All trainings are on Saturdays from 10am - 2pm PST.</i>
                </p>
              </div>
            </CollageImage>
          </div>
        </div>
        <div class="m-auto">
          <h2
            class="m-auto font-Trebuchet font-bold text-center text-supernova-400 py-5 text-3xl lg:text-4xl max-w-lg"
          >
            Sign up for Stewards Training Today!
          </h2>

          <div
            class="m-auto max-w-screen-xs sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg flex flex-col"
          >
            <CollageImage
              src={imgStewardsTraining}
              imageStyle="shadow-black shadow-sm rounded-md m-auto max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl"
              float={false}
            >
              <div class="max-w-screen-sm m-auto lg:max-w-screen-md">
                <p class="py-2 text-honey-flower-50 text-xl text-left mx-2">
                  SEIU 1107 supports union leaders all year long, including
                  courses designed to bolster shop steward knowledge! Trainings
                  available for all experience levels.
                </p>
                <StringCycle
                  client:visible
                  items={[
                    '"Attending a steward training is important because it equips you with the knowledge and skills to effectively advocate for workers\' rights, ensuring a workplace that values dignity, equity, and respect for all." — Alexis Esparza, DAFS, Clark County',
                    '"I took the steward training course because I was looking for the tools to help protect and represent my coworkers to make our workplace better overall." — Stephen Nolan, custodian, LVCVA',
                    "\"I've been a union member for 14 years, and I became a steward to help all employees receive fair representation and answer all their questions. It's important to be involved and stay involved.\" — Marisela Sandoval, Patient Access, UMC",
                  ]}
                  textStyle={"py-2 text-honey-flower-50 text-xl text-left mx-2 italic"}
                  duration={10000}
                />
                <p
                  class="py-2 text-honey-flower-50 font-bold text-xl text-left mx-2"
                >
                  <i
                    >All trainings at SEIU Local 1107 - 2250 S Rancho Dr. Ste
                    165 Las Vegas, NV 89102</i
                  >
                </p>
              </div>
            </CollageImage>
          </div>
        </div>
      </div>
    </div>
    <Button
      text="Sign Up for a Training!"
      styling="mt-5 mx-auto text-honey-flower-800 scale-125 hover:scale-150 bg-supernova-400 hover:bg-supernova-500 active:bg-supernova-600"
      href="/membership_trainings"
    />
  </div>
  <div class="bg-gradient-to-bl from-supernova-300 to-supernova-500 py-4">
    <HeadingTitle
      text="Attend our SEIU African American Caucus Membership Meetings!"
    />

    <div
      class="m-auto max-w-screen-xs sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg flex flex-col"
    >
      <CollageImage
        src={AFRAMLogo}
        horizontal="right"
        imageStyle="shadow-black shadow-sm rounded-md m-auto max-w-xs sm:max-wd-sm md:max-w-md lg:max-w-xl"
      >
        <div class="flex flex-col">
          <p class="py-2 text-black text-xl text-left mx-2">
            The National African American Caucus of the Service Employees
            International Union (SEIU) is committed to enhancing opportunities
            for education, training mentor-ship, leadership development and
            networking for SEIU members and staff of African descent.
          </p>
          <p class="py-2 text-black text-xl text-left mx-2">
            We further engage to promote social, economic and political justice
            within our workplace, our communities, our nation and within our
            union.
          </p>
          <p class="py-2 text-black text-xl text-left mx-2">
            We shall further encourage our members to actively engage in efforts
            to organize the unorganized and to fully participate in the
            development and implementation of labor's political agenda and
            programs.
          </p>
          <Button
            text="Meeting Dates"
            styling="mt-5 mx-auto text-white scale-125 hover:scale-[140%] bg-honey-flower-800 hover:bg-honey-flower-950 active:bg-purple-darkest"
            href="/caucuses/afram"
          />
        </div>
      </CollageImage>
    </div>
  </div>
  <StrongerTogether />
  <LatestNews />
  <div class="py-4 bg-gradient-to-b from-honey-flower-200 to-honey-flower-300">
    <HeadingTitle text="Why We're Joining Together" />
    <div class="flex m-auto max-w-[90vw] lg:max-w-screen-lg">
      <CollageImage src={imgTogether}>
        <div class="text-md lg:text-lg">
          <p class="py-2">
            Public service, home care and health care workers are joining
            together to get a real say over our wages, staffing, retirement, and
            working conditions. We're united, and we're building the strength
            necessary to secure record contracts, win policy changes in the
            state legislature and raise standards for all working people.
          </p>
          <p class="py-2 pb-5">
            We're standing up to protect the marginalized, fight for the quality
            services that Nevada residents and our patients deserve, and win
            fair pay increases for everyone—including chronically underpaid
            women and people of color—throughout our state.
          </p>
        </div>
        <Button href="/join" text="Join Us" />
      </CollageImage>
    </div>
  </div>

  <SocialMediaFeeds />
</Layout>

<style>
  .shadowClass {
    text-shadow: 3px 3px 3px black;
  }
  .tinyShadow {
    text-shadow: 3px 3px 2px black;
  }

  .video-container {
    position: relative;
    height: 0;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
