---
import Layout from "../layouts/Layout.astro";
import LatestNews from "../components/Index/LatestNews.astro";
import SocialMediaFeeds from "../components/Index/SocialMediaFeeds.astro";
import StrongerTogether from "../components/Index/StrongerTogether.astro";
import HeadingTitle from "../components/HeadingTitle.svelte";
import CollageImage from "../components/CollageImage.astro";
import Button from "../components/Button.svelte";
import Subtitle from "../components/Subtitle.svelte";
import ImageCycle from "../components/ImageCycle.svelte";
import Carousel from "../components/Carousel.svelte";

import BannerText from "../components/Index/Banner/BannerText.astro";
import ScholarshipBanner from "../components/Index/ScholarshipBanner.astro";

// Banners
import HomecareGraphic from "../images/index/HomecareGraphic.jpg";
import DOAGraphic from "../images/index/DOAGraphic.png";
import CCGraphic from "../images/index/CCGraphic.png";
import StRoseGraphic from "../images/index/StRoseGraphic.png";

// Mobile Banners
import HomecareMobile from "../images/index/HomecareMobile.png";
import CCMobile from "../images/index/CCMobile.png";
import StRoseMobile from "../images/index/StRoseMobile.png";
import DOAMobile from "../images/index/DOAMobile.png";

import imgTogether from "../images/index/JoinTogether.jpg";
import imgTraining from "../images/strength_training/BigRoom.jpg";

// Immigration Workshop
import imgImmigration1 from "/public/post_imgs/2024/ImmigrationWorkshop/img1.png";
import imgImmigration2 from "/public/post_imgs/2024/ImmigrationWorkshop/img2.png";
import imgImmigration3 from "/public/post_imgs/2024/ImmigrationWorkshop/img3.png";
import imgImmigration4 from "/public/post_imgs/2024/ImmigrationWorkshop/img4.png";
import imgImmigration5 from "/public/post_imgs/2024/ImmigrationWorkshop/img5.png";
import imgImmigration6 from "/public/post_imgs/2024/ImmigrationWorkshop/img6.png";
import imgImmigration7 from "/public/post_imgs/2024/ImmigrationWorkshop/img7.png";

// Lobby Day
import imgLobbyDay1 from "/public/post_imgs/2025/LobbyDay/img2.png";
import imgLobbyDay2 from "/public/post_imgs/2025/LobbyDay/img13.png";
import imgLobbyDay3 from "/public/post_imgs/2025/LobbyDay/img8.png";
import imgLobbyDay4 from "/public/post_imgs/2025/LobbyDay/img16.png";
import imgLobbyDay5 from "/public/post_imgs/2025/LobbyDay/img17.png";
import imgLobbyDay6 from "/public/post_imgs/2025/LobbyDay/img4.png";

// Banners
import imgAFRAM from "../images/caucuses/AFRAM/2025 Flyer.png";
import imgLatino from "../images/caucuses/Latino/2025 Flyer.png";
---

<Layout>
  <!-- Video Recap -->
  <!--
  <main
    class="hidden lg:hidden bg-cover bg-top lg:bg-left bg-[url(/src/images/index/HomecareMobile.png)] h-full mx-auto w-full"
  >
    <div class="flex flex-col lg:flex-row xl:mx-10">
      <div
        class="lg:hidden pt-5 text-white tinyShadow font-Trebuchet font-bold uppercase text-center text-5xl max-w-screen-sm m-auto"
      >
        Watch SEIU 1107's 2023 Recap!
      </div>
      <div class="mx-auto py-5 hidden lg:block lg:pt-20">
        <iframe
          width="672"
          height="378"
          src="https://www.youtube.com/embed/VEipjl7Pc4U?si=xUQ4S0rhiO8cpzB8"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div
        class="flex flex-col mx-auto pb-20 lg:m-0 lg:ml-auto justify-between max-w-md lg:max-w-screen-md"
      >
        <div
          class="hidden lg:block pt-5 text-white tinyShadow font-Trebuchet font-bold uppercase text-center text-5xl lg:text-6xl max-w-screen-sm m-auto"
        >
          SEIU Nevada's 2023 Recap!
        </div>
        <h1
          class="shadowClass uppercase font-bold mx-5 py-5 font-Roboto text-center text-supernova-400 text-6xl lg:text-7xl"
        >
          When we fight, we win!
        </h1>
        <div class="mx-auto lg:max-w-screen-sm pt-10">
          <Button
            text="Watch on Youtube"
            href="https://youtu.be/VEipjl7Pc4U?si=zUoBcD9ZaKm_FHOi"
            styling="bg-supernova-400 hover:bg-supernova-500 text-honey-flower-800 scale-125 hover:scale-[145%] lg:scale-150 lg:hover:scale-[160%] active:bg-supernova-600"
            ;
          />
        </div>
      </div>
    </div>
  </main>
   -->

  <!-- Hero Banner -->
  <main class="hidden lg:block relative overflow-hidden h-max">
    <div class="absolute top-0 inset-0 -z-30">
      <Carousel
        images={[CCGraphic, StRoseGraphic, DOAGraphic, HomecareGraphic]}
        duration={5500}
        clickablePages={false}
        showSliderIndicators={false}
        pauseOnHover={false}
        heightOverride="h-[500px]"
        client:visible
      />
    </div>
    <BannerText />
  </main>

  <!-- Mobile Hero Banner -->
  <main class="block lg:hidden relative overflow-hidden h-max">
    <div class="absolute top-0 inset-0 -z-20">
      <Carousel
        images={[CCMobile, StRoseMobile, DOAMobile, HomecareMobile]}
        carouselID={1}
        heightOverride="h-[500px]"
        duration={4000}
        clickablePages={false}
        showSliderIndicators={false}
        pauseOnHover={false}
        client:visible
      />
    </div>
    <BannerText />
  </main>
  <!-- -->
  <main
    class="flex flex-col m-auto bg-gradient-to-br from-supernova-400 to-supernova-500"
  >
    <HeadingTitle text="Legislative Session 2025" />
    <div class="m-auto max-w-[95vw] lg:max-w-screen-lg py-4">
      <CollageImage
        duration={4000}
        srcList={[
          imgLobbyDay1,
          imgLobbyDay2,
          imgLobbyDay3,
          imgLobbyDay4,
          imgLobbyDay5,
          imgLobbyDay6,
        ]}
      >
        <p class="py-2 md:pb-2 md:py-0">
          Nevada's State Legislature meets one time for 120 days, every 2 years.
          In 2025, the session began on February 3rd and ends June 2nd. This
          means the session moves extremely fast and we have only four months to
          advocate for laws that impact our members, our workplaces, and our
          community. If we don't, the Legislature won't convene again until
          2027.
        </p>
        <p class="py-2">
          The Nevada Legislative Session has less than 50 days left! This means
          one thing, deadlines, deadlines, deadlines. Many of the remaining
          weeks will hold a deadline that bills must meet. Whether it's a
          committee vote or a floor vote by the entire Senate or Assembly, if a
          bill does not pass by the deadline, it is considered “dead” by failing
          to meet the deadline.
        </p>
        <div class="mx-auto">
          <Button text="View Tracked Bills" href="/legislative_session/2025" />
          <Button
            text="Lobby Day 2025 Blog Post"
            href="/posts/SEIU-Local-1107's-Lobby-Day-in-Carson-City:-A-Bold-Stand-for-the-CARE-Agenda/"
          />
        </div>
      </CollageImage>
    </div>
  </main>
  <!-- -->
  <LatestNews />
  <!-- -->
  <div
    class="m-auto bg-gradient-to-b from-honey-flower-900 to-honey-flower-950 flex flex-col px-3"
  >
    <HeadingTitle
      text="Know Your Rights!"
      styling="m-auto font-Trebuchet font-bold text-center text-supernova-500 py-5 shadowClass"
    />
    <Subtitle
      text="Immigration Resources"
      styling="pb-2 text-center text-supernova-500 italic font-Trebuchet"
    />
    <div
      class="mt-2 flex flex-col md:grid md:grid-cols-2 gap-2 max-w-screen-lg mx-auto px-2"
    >
      <div class="md:col-span-1">
        <ImageCycle
          duration={4000}
          images={[
            imgImmigration1,
            imgImmigration2,
            imgImmigration3,
            imgImmigration4,
            imgImmigration5,
            imgImmigration6,
            imgImmigration7,
          ]}
          alt=""
          imageStyle="shadow-black shadow-md rounded-md m-auto max-w-full"
          client:load
        />
      </div>
      <div class="md:col-span-1 mt-0.5 text-honey-flower-100 flex flex-col">
        <p class="pb-2">
          SEIU Local 1107 is united for ALL workers. No matter where we come
          from, working people share the same vision for a just society, livable
          wages, quality healthcare, and a better future for all. We defend
          everyone's right to a fair job and safe workplace in Nevada and across
          our nation.
        </p>
        <p class="py-2">
          The U.S. Constitution protects ALL of us who reside in the U.S., no
          matter our race, gender or immigration status. Explore resources and
          support from trusted organizations dedicated to protecting immigrant
          rights and providing guidance.
        </p>
        <div class="mx-auto">
          <Button
            text="View Resources"
            styling="m-auto my-1.5 text-honey-flower-900 bg-supernova-500 hover:bg-supernova-600 hover:scale-110 active:supernova-600"
            href="/immigration_resources"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- -->
  <ScholarshipBanner />
  <!-- -->

  <main
    class="flex flex-col m-auto bg-gradient-to-br from-supernova-400 to-supernova-500"
  >
    <HeadingTitle text="Together We Rise! Attend Our Membership Trainings!" />
    <div class="bg-honey-flower-900 p-2">
      <p
        class="font-Trebuchet font-bold text-center text-supernova-500 text-4xl"
      >
        Attention Stewards! Sign Up for a Stewards Training on this page!
      </p>
    </div>
    <div class="py-5 max-w-[90vw] md:max-w-screen-lg m-auto">
      <CollageImage src={imgTraining}>
        <p class="py-2 text-black text-xl font-bold text-left mx-2">
          The time to get involved is <i>NOW!</i>
        </p>
        <p class="text-md py-2">
          Join SEIU Local 1107 for a day of strategy and union power!
        </p>
        <p class="text-md py-2">
          We're coming together to share best practices for building a powerful
          labor movement and keeping our union strong.
        </p>
        <p class="text-md py-2">
          In order to keep our union strong - so that we can win better
          contracts, make breakthroughs in organizing, and build a more just and
          equitable society - we have to focus on improving our member strength
          like our very existence depends on it (because it does!).
        </p>
        <Button href="/membership_trainings" text="Attend A Training" />
      </CollageImage>
    </div>
  </main>

  <!-- start grid2 -->
  <div class="flex flex-col lg:grid lg:grid-cols-2 m-auto">
    <div
      class="m-auto bg-gradient-to-b from-honey-flower-900 to-honey-flower-700 py-2 px-4 h-full w-full"
    >
      <HeadingTitle
        text="SEIU 1107's AFRAM Caucus Meetings"
        styling="m-auto font-Trebuchet font-bold text-center text-supernova-500 py-5 shadowClass"
      />
      <div class="flex m-auto max-w-[90vw] lg:max-w-screen-lg">
        <CollageImage
          src={imgAFRAM}
          horizontal="right"
          imageStyle="shadow-black shadow-sm rounded-md my-2.5 max-w-[90vw] sm:max-w-md lg:max-w-lg"
        >
          <div class="text-white text-md">
            <p class="py-1.5">
              We encourage you to attend SEIU 1107's African American Caucus
              Meetings! The National African American Caucus of SEIU is
              committed to enhancing opportunities for education, training
              mentor-ship, leadership development and networking for SEIU
              members and staff of African descent.
            </p>
            <p class="py-1.5">
              No one person can win the fight against social, racial, wage, or
              disability injustices. WE NEED EACH OTHER. As we coalesce to bring
              forth a powerful and transformative movement within our union, we
              want each of you to feel inspired, empowered, and optimistic about
              the work that our caucus is doing.
            </p>
            <div class="py-1.5">
              <Button
                text="Meeting Dates Flyer (PDF)"
                href="/PDFs/caucuses/AFRAM 2025 Meetings.pdf"
                target="_blank"
                styling="m-auto my-1.5 text-honey-flower-900 bg-supernova-500 hover:bg-supernova-600 hover:scale-110 active:supernova-600"
              />
            </div>
            <div class="py-1.5">
              <Button
                text="Visit Caucus Page"
                href="/caucuses/afram"
                styling="m-auto my-1.5 text-honey-flower-900 bg-supernova-500 hover:bg-supernova-600 hover:scale-110 active:supernova-600"
              />
            </div>
          </div>
        </CollageImage>
      </div>
    </div>
    <!-- end item1 -->
    <div
      class="bg-gradient-to-br from-big-stone-900 to-big-stone-950 m-auto py-2 px-4 h-full w-full"
    >
      <HeadingTitle
        text="SEIU 1107's Latino Caucus Meetings"
        styling="m-auto font-Trebuchet font-bold text-center text-big-stone-300 py-5 shadowClass"
      />
      <div class="flex m-auto max-w-[90vw] lg:max-w-screen-lg">
        <CollageImage
          src={imgLatino}
          horizontal="right"
          imageStyle="shadow-black shadow-sm rounded-md my-2.5 max-w-[90vw] sm:max-w-md lg:max-w-lg"
        >
          <div class="text-white text-md">
            <p class="py-1.5">
              The Latino Caucus at SEIU 1107 aims to advocate for Latino
              workers' rights, interests, and well-being within the union and
              the broader community. The caucus serves as a platform for Latino
              members to come together, share experiences, and address the
              unique challenges the Latino workforce faces.
            </p>
            <p class="py-1.5">
              Founded to address the unique needs and challenges faced by
              Latinos in our union, our caucus is dedicated to promoting
              cultural pride, economic empowerment, and social justice. We honor
              the trailblazers who came before us and strive to uphold their
              commitment to unity and progress.
            </p>
            <p class="py-1.5">
              Ready to make a difference? Start your journey by becoming a
              member now!
            </p>
            <div class="py-1">
              <Button
                text="Meeting Dates Flyer (PDF)"
                href="/PDFs/caucuses/Latino 2025 Meetings.pdf"
                target="_blank"
                styling="m-auto my-1.5 text-white bg-orange-600 hover:bg-orange-700 active:bg-orange-800 hover:scale-110"
              />
            </div>
            <div class="py-1">
              <Button
                text="Become a Member"
                href="https://docs.google.com/forms/d/e/1FAIpQLSfoUkvDu--PA3VphXG4evxMCr3hJWGq33WInCHk8yWQVEL8_w/viewform"
                target="_blank"
                styling="m-auto my-1.5 text-white bg-orange-600 hover:bg-orange-700 active:bg-orange-800 hover:scale-110"
              />
            </div>
            <div class="py-1">
              <Button
                text="Visit Caucus Page"
                href="/caucuses/latino"
                styling="m-auto my-1.5 text-white bg-orange-600 hover:bg-orange-700 active:bg-orange-800 hover:scale-110"
              />
            </div>
          </div>
        </CollageImage>
      </div>
    </div>
  </div>

  <!-- -->

  <StrongerTogether />
  <div class="py-4 bg-gradient-to-b from-honey-flower-900 to-honey-flower-700">
    <div
      class="tinyShadow py-2 font-bold font-Trebuchet text-center text-supernova-400 text-4xl md:text-5xl drop-shadow-2xl"
    >
      Why We're Joining Together
    </div>
    <div class="flex m-auto max-w-[90vw] lg:max-w-screen-lg">
      <CollageImage src={imgTogether}>
        <div class="text-xl text-white">
          <p class="py-2">
            Public service, home care and health care workers are joining
            together to get a real say over our wages, staffing, retirement, and
            working conditions. We're united, and we're building the strength
            necessary to secure record contracts, win policy changes in the
            state legislature and raise standards for all working people.
          </p>
          <p class="py-2 pb-5">
            We're standing up to protect the marginalized, fight for the quality
            services that Nevada residents and our patients deserve, and win
            fair pay increases for everyone—including chronically underpaid
            women and people of color—throughout our state.
          </p>
          <Button
            href="/join"
            text="Join Us"
            styling="mx-auto text-honey-flower-800 hover:scale-105 bg-supernova-400 hover:bg-supernova-500 active:bg-supernova-600"
          />
        </div>
      </CollageImage>
    </div>
  </div>

  <SocialMediaFeeds />
</Layout>

<style>
  .shadowClass {
    text-shadow: 3px 3px 3px black;
  }
  .tinyShadow {
    text-shadow: 3px 3px 2px black;
  }

  .video-container {
    position: relative;
    height: 0;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
