---
import Layout from "../layouts/Layout.astro";
import LatestNews from "../components/Index/LatestNews.astro";
import SocialMediaFeeds from "../components/Index/SocialMediaFeeds.astro";
import StrongerTogether from "../components/Index/StrongerTogether.astro";
import HeadingTitle from "../components/HeadingTitle.svelte";
import CollageImage from "../components/CollageImage.astro";
import LinkText from "../components/LinkText.astro";
import Button from "../components/Button.svelte";

import imgTogether from "../images/index/JoinTogether.jpg";
import imgTraining from "../images/strength_training/BigRoom.jpg";

// Banners
import imgAFRAM from "../images/caucuses/AFRAM/2025 Flyer.png";

// Constants
const execBoardButtonStyle =
  "mx-2 no-underline not-prose text-white bg-honey-flower-800 hover:scale-110 hover:bg-honey-flower-950 active:bg-purple-darkest";
---

<Layout>
  <!-- Video Recap -->
  <!--
  <main
    class="hidden lg:hidden bg-cover bg-top lg:bg-left bg-[url(/src/images/index/HomecareMobile.png)] h-full mx-auto w-full"
  >
    <div class="flex flex-col lg:flex-row xl:mx-10">
      <div
        class="lg:hidden pt-5 text-white tinyShadow font-Trebuchet font-bold uppercase text-center text-5xl max-w-screen-sm m-auto"
      >
        Watch SEIU 1107's 2023 Recap!
      </div>
      <div class="mx-auto py-5 hidden lg:block lg:pt-20">
        <iframe
          width="672"
          height="378"
          src="https://www.youtube.com/embed/VEipjl7Pc4U?si=xUQ4S0rhiO8cpzB8"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div
        class="flex flex-col mx-auto pb-20 lg:m-0 lg:ml-auto justify-between max-w-md lg:max-w-screen-md"
      >
        <div
          class="hidden lg:block pt-5 text-white tinyShadow font-Trebuchet font-bold uppercase text-center text-5xl lg:text-6xl max-w-screen-sm m-auto"
        >
          SEIU Nevada's 2023 Recap!
        </div>
        <h1
          class="shadowClass uppercase font-bold mx-5 py-5 font-Roboto text-center text-supernova-400 text-6xl lg:text-7xl"
        >
          When we fight, we win!
        </h1>
        <div class="mx-auto lg:max-w-screen-sm pt-10">
          <Button
            text="Watch on Youtube"
            href="https://youtu.be/VEipjl7Pc4U?si=zUoBcD9ZaKm_FHOi"
            styling="bg-supernova-400 hover:bg-supernova-500 text-honey-flower-800 scale-125 hover:scale-[145%] lg:scale-150 lg:hover:scale-[160%] active:bg-supernova-600"
            ;
          />
        </div>
      </div>
    </div>
  </main>
   -->

  <!-- Hero Banner -->
  <!--
  <main
    class="bg-cover bg-top lg:bg-left bg-[url(/src/images/index/HomecareMobile.png)] lg:bg-[url(/src/images/index/HomecareGraphic.jpg)] h-full mx-auto w-full"
  >
    <div
      class="flex flex-col mx-auto lg:m-0 lg:ml-auto justify-between max-w-md lg:max-w-screen-md py-10 lg:py-12"
    >
      <div
        class="text-white tinyShadow font-Trebuchet font-bold uppercase py-5 text-center text-3xl lg:text-4xl max-w-screen-sm m-auto lg:m-0 lg:ml-auto lg:pr-3"
      >
        Nevada's Health Care, Home Care, and Public Workers
      </div>
      <div class="lg:max-w-screen-sm m-auto lg:m-0 lg:ml-auto">
        <h1
          class="shadowClass uppercase font-bold mx-5 font-Roboto text-center text-supernova-400 text-6xl lg:text-7xl"
        >
          United For Quality Services
        </h1>
      </div>
    </div>
  </main>
   -->
  <div class="m-auto bg-gradient-to-br from-supernova-400 to-supernova-500">
    <div
      class="flex flex-col text-lg font-Roboto max-w-[90vw] sm:max-w-screen-md m-auto"
    >
      <HeadingTitle
        text="Nominations for the Election of Executive Board Members and Officers Are Now Open!"
      />
      <div class="py-1.5 flex flex-col sm:flex-row">
        <p class="sm:mr-4 pb-4 sm:py-0">
          To nominate yourself or another member of SEIU Local 1107, <b
            ><LinkText
              target="_blank"
              href="/PDFs/2025/eboard/SEIU Local 1107 E-Board Election Nomination (Individual Candidate).pdf"
              >CLICK HERE</LinkText
            ></b
          > to download the individual nomination petition form.
        </p>
        <p class="sm:ml-4">
          The nominee must also complete the <b>Nomination Acceptance Form</b>. <b
            ><LinkText
              href="/PDFs/2025/eboard/Nomination Acceptance Form.pdf"
              target="_blank">CLICK HERE</LinkText
            ></b
          > to download the form.
        </p>
      </div>
      <p class="py-1.5 sm:text-center">
        For slate nominations, please contact Felipe Danglapin at <b
          ><LinkText href="mailto:fdanglapin@seiunv.org"
            >fdanglapin@seiunv.org
          </LinkText></b
        > to request the appropriate petition forms.
      </p>
      <div class="bg-slate-700 max-w-full h-0.5"></div>
      <p class="py-1.5">
        <b>Important:</b> All petitions and completed forms must be received at SEIU
        Local 1107, 2250 S. Rancho Drive, Suite 165, Las Vegas, NV 89102, <b
          >by 5:00 p.m. on February 12, 2025</b
        >. Petitions may be mailed or hand-delivered.
      </p>
    </div>
    <p class="font-bold text-xl text-center">PDF Downloads:</p>
    <div class="flex flex-col py-2.5">
      <div class="flex flex-col md:flex-row mx-auto">
        <Button
          styling={execBoardButtonStyle}
          text="Individual Nomination Form"
          href="/PDFs/2025/eboard/SEIU Local 1107 E-Board Election Nomination (Individual Candidate).pdf"
          target="_blank"
        />
        <Button
          styling={execBoardButtonStyle}
          text="Nomination Acceptance Form"
          href="/PDFs/2025/eboard/Nomination Acceptance Form.pdf"
          target="_blank"
        />
      </div>
    </div>
  </div>
  <!-- -->

  <main class="flex flex-col m-auto">
    <HeadingTitle text="Together We Rise! Attend Our Membership Trainings!" />
    <div class="bg-supernova-500 p-4">
      <p
        class="font-Trebuchet font-bold text-center text-honey-flower-800 text-5xl"
      >
        Attention Stewards! Attend a Steward Training <LinkText href="/membership_trainings#STEWARDS"
          >Here</LinkText
        >!
      </p>
    </div>
    <div class="py-5 max-w-[90vw] md:max-w-screen-lg m-auto">
      <CollageImage src={imgTraining}>
        <p class="py-2 text-black text-xl font-bold text-left mx-2">
          The time to get involved is <i>NOW!</i>
        </p>
        <p class="text-md py-2">
          Join SEIU Local 1107 for a day of strategy and union power!
        </p>
        <p class="text-md py-2">
          We're coming together to share best practices for building a powerful
          labor movement and keeping our union strong.
        </p>
        <p class="text-md py-2">
          In order to keep our union strong - so that we can win better
          contracts, make breakthroughs in organizing, and build a more just and
          equitable society - we have to focus on improving our member strength
          like our very existence depends on it (because it does!).
        </p>
        <Button href="/membership_trainings" text="Attend A Training" />
      </CollageImage>
    </div>
  </main>

  <!-- -->
  <div
    class="m-auto bg-gradient-to-b from-honey-flower-900 to-honey-flower-700 py-2"
  >
    <HeadingTitle
      text="Attend SEIU 1107's AFRAM Meetings!"
      styling="m-auto font-Trebuchet font-bold text-center text-supernova-500 py-5"
    />
    <div class="flex m-auto max-w-[90vw] lg:max-w-screen-lg">
      <CollageImage
        src={imgAFRAM}
        horizontal="right"
        imageStyle="shadow-black shadow-sm rounded-md my-2.5 max-w-[90vw] sm:max-w-md lg:max-w-lg"
      >
        <div class="text-white text-md">
          <p class="py-1.5">
            We encourage you to attend SEIU 1107's African American Caucus
            Meetings! The National African American Caucus of SEIU is committed
            to enhancing opportunities for education, training mentor-ship,
            leadership development and networking for SEIU members and staff of
            African descent.
          </p>
          <p class="py-1.5">
            No one person can win the fight against social, racial, wage, or
            disability injustices. WE NEED EACH OTHER. As we coalesce to bring
            forth a powerful and transformative movement within our union, we
            want each of you to feel inspired, empowered, and optimistic about
            the work that our caucus is doing.
          </p>
          <Button
            text="Meeting Dates Flyer (PDF)"
            href="/PDFs/caucuses/AFRAM 2025 Meetings.pdf"
            target="_blank"
            styling="m-auto my-1.5 text-honey-flower-900 bg-supernova-500 hover:bg-supernova-500 hover:scale-110 active:supernova-600"
          />
        </div>
      </CollageImage>
    </div>
  </div>

  <LatestNews
    bgColor="bg-gradient-to-b from-honey-flower-900 to-honey-flower-700"
    titleColor="text-supernova-400 shadowClass"
    textStyle="font-Roboto text-honey-flower-50"
    buttonStyle="bg-supernova-400 hover:bg-supernova-500 active:bg-supernova-600 text-honey-flower-800 hover:scale-125"
  />

  <StrongerTogether />
  <div class="py-4 bg-gradient-to-b from-honey-flower-900 to-honey-flower-700">
    <div
      class="tinyShadow py-2 font-bold font-Trebuchet text-center text-supernova-400 text-4xl md:text-5xl drop-shadow-2xl"
    >
      Why We're Joining Together
    </div>
    <div class="flex m-auto max-w-[90vw] lg:max-w-screen-lg">
      <CollageImage src={imgTogether}>
        <div class="text-xl text-white">
          <p class="py-2">
            Public service, home care and health care workers are joining
            together to get a real say over our wages, staffing, retirement, and
            working conditions. We're united, and we're building the strength
            necessary to secure record contracts, win policy changes in the
            state legislature and raise standards for all working people.
          </p>
          <p class="py-2 pb-5">
            We're standing up to protect the marginalized, fight for the quality
            services that Nevada residents and our patients deserve, and win
            fair pay increases for everyone—including chronically underpaid
            women and people of color—throughout our state.
          </p>
          <Button
            href="/join"
            text="Join Us"
            styling="mx-auto text-honey-flower-800 hover:scale-105 bg-supernova-400 hover:bg-supernova-500 active:bg-supernova-600"
          />
        </div>
      </CollageImage>
    </div>
  </div>

  <SocialMediaFeeds />
</Layout>

<style>
  .shadowClass {
    text-shadow: 3px 3px 3px black;
  }
  .tinyShadow {
    text-shadow: 3px 3px 2px black;
  }

  .video-container {
    position: relative;
    height: 0;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
