---
import Layout from "../layouts/Layout.astro";
import HeadingTitle from "../components/HeadingTitle.svelte";

import { Picture } from "astro:assets";
import LinkText from "../components/LinkText.astro";
import CollageImage from "../components/CollageImage.astro";

import imgMembershipFlyer from "../images/strength_training/member_trainings_all_aug_v2.jpg";
import imgStewardFlyer from "../images/strength_training/steward_flyer.jpg";
import imgBigRoom from "../images/strength_training/BigRoom.jpg";

const pictureStyle =
  "max-w-[90vw] sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl shadow-black shadow-sm rounded-md m-auto";
---

<Layout title="Member Strength Training">
  <HeadingTitle text="Participate In Our Membership Trainings!" />
  <div class="text-honey-flower-800 bg-supernova-500 py-3">
    <h2
      class="text-center m-auto font-bold text-2xl lg:text-3xl font-Roboto max-w-[90vw] md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl"
    >
      Attention Stewards! Attending BOTH Member Strength Trainings and
      Intermediate Steward Training is <a
        href="/membership_trainings#STEWARD_TRAININGS"
        class="underline hover:cursor-pointer hover:no-underline">MANDATORY</a
      >! Sign up <a
        href="/membership_trainings#STEWARD_TRAININGS"
        class="underline hover:cursor-pointer hover:no-underline">HERE</a
      > today!
    </h2>
  </div>
  <div class="flex flex-col m-auto max-w-screen-lg">
    <div class="my-5 mx-auto">
      <CollageImage src={imgBigRoom}>
        <p class="py-2 text-black text-xl font-bold text-left mx-2">
          The time to get involved is <i>NOW!</i>
        </p>
        <p class="py-2 text-black text-left mx-2">
          Join SEIU Local 1107 for a day of strategy and union power! We're
          coming together to share best practices for building a powerful labor
          movement and keeping our union strong.
        </p>
        <p class="py-2 text-black text-left mx-2">
          In order to keep our union strong - so that we can win better
          contracts, make breakthroughs in organizing, and build a more just and
          equitable society - we have to focus on improving our member strength
          like our very existence depends on it (because it does!).
        </p>
        <p class="py-2 text-black text-xl font-bold text-left mx-2">
          <i
            >Attending at least an Intermediate Steward Training is <u
              ><b>MANDATORY</b></u
            > for <b><u>ALL</u></b> Stewards! Sign up today!</i
          >
        </p>
        <p class="py-2 text-black text-left mx-2">
          It's time for you to <b><u>join the movement</u></b> and learn how to build
          power! The more workers who get active, the more improvements we can secure
          to our wages, benefits, and working conditions!
        </p>
      </CollageImage>
    </div>
    <div class="flex flex-col">
      <div
        class="m-auto bg-white rounded-md p-5 shadow-sm shadow-black flex flex-col max-w-[90vw] md:max-w-screen-md lg:max-w-screen-lg my-2.5"
      >
        <h2
          class="text-3xl text-honey-flower-800 font-Trebuchet font-bold text-center py-1.5"
        >
          Member Strength Trainings
        </h2>
        <p class="py-2 text-black text-2xl font-bold text-center">
          <i>Sign up via Mobilize below.</i>
        </p>
        <div class="grid grid-cols-2 gap-8">
          <div>
            <h3 class="font-bold text-honey-flower-800 text-xl">
              Weekend Dates
            </h3>
            <div class="text-black text-bold text-md md:text-lg text-left">
              <i>Saturdays from 10am - 2pm PST.</i>
              <div class="bg-slate-500 h-0.5 w-full my-2.5"></div>
              <p class="py-2">
                Session 1 - July 27, 2024
                <br />
                <span class="text-supernova-700"
                  >Member Strength Training Session #1: The Structured
                  Conversation and the Story of I</span
                >
                <br />
                <i class="font-bold">Thank you to all members who attended!</i>
              </p>
              <p class="py-2">
                Session 2 - September 7th, 2024
                <br />
                <span class="text-supernova-700"
                  >Member Strength Training Session #2: Assessing your
                  Workplace, Charting and List Work</span
                >
                <br />
                <i class="font-bold">Thank you to all members who attended!</i>
              </p>
              <p class="py-2">
                Session 3 - September 28th, 2024
                <br />
                <span class="text-supernova-700">
                  Member Strength Training Session #3: AAR "Affirm, Answer,
                  Redirect"
                </span>
                <br />
                <i class="font-bold">Thank you to all members who attended!</i>
              </p>
              <p class="py-2">
                Session 4 - October 12th, 2024
                <br />
                <span class="text-supernova-700"
                  >Member Strength Training Session #4: Work Site Issues,
                  Conversations, Mobilization</span
                >
                <br />
                <i class="font-bold">Thank you to all members who attended!</i>
              </p>
              <p class="py-2">
                Session 5 - November 23rd, 2024
                <br />
                <span class="text-supernova-700">
                  Member Strength Training Session #5: Recruiting/Developing
                  your Team of Coworkers
                </span>
                <br />
                <i class="font-bold">Thank you to all members who attended!</i>
              </p>
              <p class="py-2">
                Session 6 - December 14th, 2024
                <br />
                <LinkText
                  href="https://www.mobilize.us/seiunevada/event/643051/?nvep=&hmac=&emci=6ae1980f-6644-ef11-86c3-6045bdd9e096&emdi=ea000000-0000-0000-0000-000000000001&ceid="
                  target="_blank"
                  >Member Strength Training Session #6: Leading Leaders</LinkText
                >
              </p>
            </div>
          </div>
          <div>
            <h3 class="font-bold text-honey-flower-800 text-xl text-right">
              Weekday Dates
            </h3>
            <div class="text-black text-bold text-md md:text-lg text-right">
              <i
                >Weekday Trainings are split into two days (Tuesday and
                Wednesdays from 6-8pm) and
                <b>you are required to attend both.</b> On Mobilize, select <b
                  >both</b
                > available times.</i
              >
              <div class="flex bg-slate-500 h-[1px] w-full my-2.5 items-end">
              </div>
              <p class="py-2">
                Session 1 - August 13th to 14th, 2024
                <br />
                <span class="text-supernova-700"
                  >Member Strength Training Session #1: The Structured
                  Conversation and the Story of I</span
                >
                <br />
                <i class="font-bold">Thank you to all members who attended!</i>
              </p>
              <p class="py-2">
                Session 2 - September 17th to 18th, 2024
                <br />
                <span class="text-supernova-700"
                  >Member Strength Training Session #2: Assessing your
                  Workplace, Charting and List Work</span
                >
                <br />
                <i class="font-bold">Thank you to all members who attended!</i>
              </p>
              <p class="py-2">
                Session 3 - October 15th to 16th, 2024
                <br />
                <span class="text-supernova-700"
                  >Member Strength Training Session #3: AAR "Affirm, Answer,
                  Redirect"</span
                >
                <br />
                <i class="font-bold">Thank you to all members who attended!</i>
              </p>
              <p class="py-2">
                Session 4 - November 12th to 13th, 2024
                <br />
                <span class="text-supernova-700"
                  >Member Strength Training Session #4: Work Site Issues,
                  Conversations, Mobilization</span
                >
                <br />
                <i class="font-bold">Thank you to all members who attended!</i>
              </p>
              <p class="py-2">
                Session 5 - December 3rd to 4th, 2024
                <br />
                <LinkText
                  href="https://www.mobilize.us/seiunevada/event/654264/?emci=8da75fb4-cf4e-ef11-86c3-6045bdd9e096&emdi=db7625fe-2e50-ef11-86c3-6045bdee6681&ceid=79293440"
                  target="_blank"
                  >Member Strength Training Session #5: Recruiting/Developing
                  your Team of Coworkers</LinkText
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="m-auto bg-white rounded-md p-5 shadow-sm shadow-black flex flex-col max-w-[90vw] md:max-w-screen-md lg:max-w-screen-xl my-2.5"
        id="STEWARD_TRAININGS"
      >
        <h2
          class="text-3xl text-honey-flower-800 font-Trebuchet font-bold text-center py-1.5"
        >
          Steward Trainings
        </h2>
        <p class="py-2 text-black text-lg text-center">
          <i>All trainings are hosted at SEIU Local 1107</i>
          <br />
          <i><b>2250 S. Rancho Dr. Ste 165 Las Vegas, NV 89102</b></i>
          <br />
          <i class="text-xl font-bold">Sign up via Mobilize below.</i>
        </p>
        <div class="flex flex-col lg:grid lg:grid-cols-3">
          <!-- 1 -->
          <div class="my-2 mx-5 p-2 bg-honey-flower-100 rounded-md">
            <div
              class="text-black font-bold text-lg sm:text-xl text-left lg:text-center"
            >
              Beginning Training
              <br class="block sm:hidden lg:block" />
              (<LinkText
                href="https://www.mobilize.us/seiunevada/event/617265/"
                target="_blank">Sign up on Mobilize</LinkText
              >)
            </div>
            <ul class="list-disc ml-10 text-md sm:text-lg my-2">
              <li>Introduction to SEIU 1107</li>
              <li>Role of the Steward</li>
              <li>Legal rights of the Steward</li>
              <li>Weingarten/Investigatory meetings</li>
              <li>Practice an investigatory meeting</li>
            </ul>
            <div class="text-md font-bold italic py-2">
              Click below dates for Google Calendar link.
            </div>
            <div class="text-md">
              <LinkText
                href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NGxvODc3azZ1bGRiNzk4dnE1aWFnMG45bmggYTNhMzQxOGM1ODNiNDdlNDQzYmU2ODFhNmIxYzU1YjM1OThiOGVjZDQ2YzhlYmNjNzQzMmY2MDc5MWEzZmQ0OEBn&tmsrc=a3a3418c583b47e443be681a6b1c55b3598b8ecd46c8ebcc7432f60791a3fd48%40group.calendar.google.com"
                target="_blank">Sept. 24th 5:30pm - 8:00pm</LinkText
              >
            </div>
            <div class="text-md">
              <LinkText
                href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NmxqMHBtYmdtbmxrcG1sZ2JiNG9ocXQ0dm0gYTNhMzQxOGM1ODNiNDdlNDQzYmU2ODFhNmIxYzU1YjM1OThiOGVjZDQ2YzhlYmNjNzQzMmY2MDc5MWEzZmQ0OEBn&tmsrc=a3a3418c583b47e443be681a6b1c55b3598b8ecd46c8ebcc7432f60791a3fd48%40group.calendar.google.com"
                target="_blank">Oct. 16th 9:30am - 12:00pm</LinkText
              >
            </div>
          </div>
          <!-- 2 -->
          <div class="my-2 mx-5 p-2 bg-supernova-100 rounded-md">
            <div
              class="text-black font-bold text-lg sm:text-xl text-left lg:text-center"
            >
              MANDATORY Intermediate Training
              <br class="block sm:hidden lg:block" />
              (<LinkText
                href="https://www.mobilize.us/seiunevada/event/653581/"
                target="_blank">Sign up on Mobilize</LinkText
              >)
            </div>
            <ul class="list-disc ml-10 text-md sm:text-lg my-2">
              <li>Beginning Grievance Writing</li>
              <li>7 Steps of Just Cause</li>
              <li>Disparate Treatment</li>
              <li>Practice writing and presenting a grievance</li>
            </ul>
            <div class="text-xl py-0.5 underline text-center">
              This course is <b>required</b> for all stewards.
            </div>
            <div class="text-md font-bold italic py-2">
              Click below dates for Google Calendar link.
            </div>
            <div class="text-md">
              <LinkText
                href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MTJrYTBoaHAyZHU4djNkbzl1MnJvOWJlcm8gYTNhMzQxOGM1ODNiNDdlNDQzYmU2ODFhNmIxYzU1YjM1OThiOGVjZDQ2YzhlYmNjNzQzMmY2MDc5MWEzZmQ0OEBn&tmsrc=a3a3418c583b47e443be681a6b1c55b3598b8ecd46c8ebcc7432f60791a3fd48%40group.calendar.google.com"
                target="_blank">Aug. 22nd 5:30pm - 8:00pm</LinkText
              >
            </div>
            <div class="text-md">
              <LinkText
                href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NjZuazRrYTZ2ZzU0dXU1MWJ1N21hZmR1ajUgYTNhMzQxOGM1ODNiNDdlNDQzYmU2ODFhNmIxYzU1YjM1OThiOGVjZDQ2YzhlYmNjNzQzMmY2MDc5MWEzZmQ0OEBn&tmsrc=a3a3418c583b47e443be681a6b1c55b3598b8ecd46c8ebcc7432f60791a3fd48%40group.calendar.google.com"
                target="_blank">Aug. 28th 9:30am - 12:00pm</LinkText
              >
            </div>
            <div class="text-md">
              <LinkText
                href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=M203N3ByanU1a2RmMG9vMWE1amptN2pzamMgYTNhMzQxOGM1ODNiNDdlNDQzYmU2ODFhNmIxYzU1YjM1OThiOGVjZDQ2YzhlYmNjNzQzMmY2MDc5MWEzZmQ0OEBn&tmsrc=a3a3418c583b47e443be681a6b1c55b3598b8ecd46c8ebcc7432f60791a3fd48%40group.calendar.google.com"
                target="_blank">Sept. 25th 9:30am - 12:00pm</LinkText
              >
            </div>
            <div class="text-md">
              <LinkText
                href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=M2Y0ODJxcm1iaWNlODUyZDFzZGw5MDJuMDMgYTNhMzQxOGM1ODNiNDdlNDQzYmU2ODFhNmIxYzU1YjM1OThiOGVjZDQ2YzhlYmNjNzQzMmY2MDc5MWEzZmQ0OEBn&tmsrc=a3a3418c583b47e443be681a6b1c55b3598b8ecd46c8ebcc7432f60791a3fd48%40group.calendar.google.com"
                target="_blank">Oct. 16th 12:30pm - 4:00pm</LinkText
              >
            </div>
            <div class="text-md">
              <LinkText
                href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NDd1ZjF0Z29jMHV0NWF0bGNwbTl0amwxdW0gYTNhMzQxOGM1ODNiNDdlNDQzYmU2ODFhNmIxYzU1YjM1OThiOGVjZDQ2YzhlYmNjNzQzMmY2MDc5MWEzZmQ0OEBn&tmsrc=a3a3418c583b47e443be681a6b1c55b3598b8ecd46c8ebcc7432f60791a3fd48%40group.calendar.google.com"
                target="_blank">Nov. 13th 9:30am - 12:00pm</LinkText
              >
            </div>
          </div>
          <!-- 3 -->
          <div class="my-2 mx-5 p-2 bg-honey-flower-100 rounded-md">
            <div
              class="text-black font-bold text-lg sm:text-xl text-left lg:text-center"
            >
              Advanced Training
              <br class="block sm:hidden lg:block" />
              (<LinkText
                href="https://www.mobilize.us/seiunevada/event/570935/"
                target="_blank">Sign up on Mobilize</LinkText
              >)
            </div>
            <ul class="list-disc ml-10 text-md sm:text-lg my-2">
              <li>Arbitration and How it Works</li>
              <li>Advocacy Skills</li>
              <li>Contract Interpretation</li>
              <li>Preparing for Step 2 Meetings and Arbitration Council</li>
            </ul>
            <div class="text-md font-bold italic py-2">
              Click below dates for Google Calendar link.
            </div>
            <div class="text-md">
              <LinkText
                href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MzJ0bnMwb3JqYmwybWZ2N2JmNjJlZ2UydmQgYTNhMzQxOGM1ODNiNDdlNDQzYmU2ODFhNmIxYzU1YjM1OThiOGVjZDQ2YzhlYmNjNzQzMmY2MDc5MWEzZmQ0OEBn&tmsrc=a3a3418c583b47e443be681a6b1c55b3598b8ecd46c8ebcc7432f60791a3fd48%40group.calendar.google.com"
                target="_blank">Sept. 25th 12:30pm - 5:00pm</LinkText
              >
            </div>
            <div class="text-md">
              <LinkText
                href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MDgxajc1azFyMjhqMTh2OG85OGdzb3R2NG8gYTNhMzQxOGM1ODNiNDdlNDQzYmU2ODFhNmIxYzU1YjM1OThiOGVjZDQ2YzhlYmNjNzQzMmY2MDc5MWEzZmQ0OEBn&tmsrc=a3a3418c583b47e443be681a6b1c55b3598b8ecd46c8ebcc7432f60791a3fd48%40group.calendar.google.com"
                target="_blank">Oct. 23rd 9:30am - 2:30pm</LinkText
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-auto flex flex-col lg:flex-row my-5 max-w-screen-2xl">
    <div class="my-1.5 mx-auto">
      <Picture class={pictureStyle} src={imgMembershipFlyer} alt="flyer" />
    </div>
    <div class="my-1.5 mx-auto">
      <Picture class={pictureStyle} src={imgStewardFlyer} alt="flyer" />
    </div>
  </div>
</Layout>
