---
export interface Props {
    title: string /* Top Level Name of Dropdown */;
    titleHref?: string /* Path to page if button is clicked, if any. */;
    content?:
        | {
              pageName: string /* Name of the content in dropdown */;
              href: string /* Path to page when content clicked */;
          }[]
        | null;
}

const { title = "Dropdown", titleHref = "", content } = Astro.props as Props;

/* Tailwind Classes */
export const clickable =
    "text-white p-4 text-base border-none cursor-pointer hover:underline hover:bg-yellow-primary active:bg-yellow-darker hover:text-honey-flower-950 active:no-underline";
---

<div class="group relative inline-block z-50">
    {
        titleHref === "" ? (
            <div class="bg-honey-flower-950 text-white p-4 text-base border-none no-underline">
                {title}
            </div>
        ) : (
            <a href={titleHref}>
                <div class={clickable}>{title}</div>
            </a>
        )
    }
    {
        content ? (
            <div class=" hidden absolute text-white bg-honey-flower-950 min-w-[160px] shadow-lg z-1 group-hover:block">
                {content.map((content) => (
                    <a
                        class="bg-honey-flower-950 text-white p-4 text-base block hover:underline hover:bg-yellow-primary hover:text-honey-flower-950 active:no-underline"
                        href={content.href}
                    >
                        {content.pageName}
                    </a>
                ))}
            </div>
        ) : (
            <div />
        )
    }
</div>
