---
import HoverIcon from "./HoverIcon.astro";
import FacebookLogo from "../../images/icons/Facebook.png";
import FacebookHover from "../../images/icons/FacebookHover.png";

import TwitterLogo from "../../images/icons/Twitter.png";
import TwitterHover from "../../images/icons/TwitterHover.png";

import InstaLogo from "../../images/icons/Insta.png";
import InstaHover from "../../images/icons/InstaHover.png";

import TikTok from "../../images/icons/TikTok.png";
import TikTokHover from "../../images/icons/TikTokHover.png";
---

<div class="flex flex-row justify-between">
    <HoverIcon
        baseImg={FacebookLogo}
        hoverImg={FacebookHover}
        sizing="w-8"
        href="https://www.facebook.com/SEIU1107/"
        aStyling="align-middle px-5"
    />
    <HoverIcon
        baseImg={TwitterLogo}
        hoverImg={TwitterHover}
        sizing="w-8"
        href="https://twitter.com/seiu1107/"
        aStyling="align-middle py-1 px-5"
    />
    <HoverIcon
        baseImg={InstaLogo}
        hoverImg={InstaHover}
        sizing="w-7"
        href="https://www.instagram.com/seiu1107/"
        aStyling="align-middle py-0.5 px-5"
    />
    <HoverIcon
        baseImg={TikTok}
        hoverImg={TikTokHover}
        sizing="w-7"
        href="https://www.tiktok.com/@seiu1107"
        aStyling="align-middle py-0 px-4"
    />
</div>
