---
export interface Props {
    title: string;
    src: string;
    alt: string;
    pos: string; /* Is the image on the left or right? */
}

const {title = 'Title Text', src, alt = '', pos = 'left'} = Astro.props as Props;
---

<div class="flex flex-row py-2.5">
    <div class="flex flex-row content-center justify-items-center justify-center m-auto max-w-7xl">
        {
            pos === 'left' ? (
                    <div class="px-10">
                        <img alt={alt} src={src}>
                    </div>
                    <div>
                        <h1 class="font-Trebuchet font-bold text-xl py-2">
                            {title}
                        </h1>
                        <slot />
                    </div>
            )  : (
                    <div>
                        <h1 class="font-Trebuchet font-bold text-xl py-2">
                            {title}
                        </h1>
                        <slot />
                    </div>
                    <div class="px-10 min-w-[35vh]">
                        <img alt={alt} src={src}>
                    </div>
            )

        }
    </div>
</div>
