---
import type { MarkdownInstance } from "astro";
import NewsPreview from "./NewsPreview.astro";

export interface Props {
    previews: MarkdownInstance<Record<string, any>>[];
    breakpoints?: string /* Targeting breakpoints */;
}

const { previews, breakpoints } = Astro.props as Props;

const gridClass = "mx-7 grid gap-0 justify-center grid-cols-1".concat(
    breakpoints ?? ""
);
---

<div class="flex justify-center content-center m-auto">
    <div class={gridClass}>
        {
            previews.map((post) => (
                <NewsPreview
                    featuredImg={post.frontmatter.featuredImg}
                    title={post.frontmatter.title}
                    excerpt={post.frontmatter.excerpt}
                    date={post.frontmatter.date}
                    url={post.frontmatter.url}
                    type={post.frontmatter.type}
                    author={post.frontmatter.author}
                />
            ))
        }
    </div>
</div>
