---
import Button from './Button.svelte';
export interface Props {
    title: string;
    bigText: string;
    buttonText: string;
    href: string;
    gradientColors?: string /* Colors for the gradient in TailwindCSS class syntax, for example "from-red-900 to-blue-900" */;
    buttonStyling?: string;
}

const {
    title,
    bigText,
    buttonText,
    href,
    gradientColors = "from-honey-flower-900 to-blue-900",
    buttonStyling = "text-honey-flower-800 bg-honey-flower-200 hover:bg-supernova-100 active:bg-supernova-300",
} = Astro.props as Props;

const classStyle =
    "flex flex-col rounded-md max-w-xl p-5 bg-gradient-to-r ".concat(
        gradientColors
    );
---

<div class={classStyle}>
    <div class="text-white">{title}</div>
    <div class="text-white font-bold text-3xl py-3">{bigText}</div>
    <div class="text-white mt-auto">
        <slot />
    </div>
    <div class="py-2 mt-auto">
        <Button text={buttonText} href={href} styling={buttonStyling} />
    </div>
</div>

<style>
    .tinyShadow {
        text-shadow: 3px 3px 2px black;
    }
</style>
