---
import Placeholder from "/src/images/PlaceholderProfileImg.png";
import type { Profile } from "../Profile";
import { Image } from "astro:assets";

export interface Props {
    person: Profile;
}

const { person } = Astro.props as Props;
---

<div
    class="max-w-md bg-white p-5 m-5 rounded-md shadow-sm shadow-black flex-col"
>
    <Image
        src={person.profileImg ? person.profileImg : Placeholder}
        alt={person.name}
        class="rounded-md w-full aspect-square object-cover"
    />

    <h2 class="font-Trebuchet font-bold text-black py-2 text-lg">
        <strong>{person.name}</strong>
    </h2>
    <div class="flex justify-center flex-col font-Roboto">
        {
            person.data.map((field) =>
                field[0] === "Email" ? (
                    <div>
                        <b>{field[0]}: </b>
                        <span class="hover:underline active:no-underline">
                            <a href={`mailto:${field[1]}`}>{field[1]}</a>
                        </span>
                    </div>
                ) : (
                    <div>
                        <b>{field[0]}: </b> {field[1]}
                    </div>
                )
            )
        }
    </div>
</div>
