---
import NewsPreview from "../components/NewsPreview.astro";

const posts = await Astro.glob("../posts/*.md");
---

<section class="showcase">
    <h1
        class="text-yellow-primary text-5xl m-auto text-center font-Trebuchet font-bold"
    >
        Latest News
    </h1>

    <section class="flex justify-center">
        <div class="grid-minmax">
            <div class="container">
                {
                    posts
                        .sort((a, b) =>
                            a.frontmatter.date < b.frontmatter.date ? 1 : -1
                        )
                        .slice(0, 3)
                        .map((post) => (
                            <NewsPreview
                                featuredImg={post.frontmatter.featuredImg}
                                title={post.frontmatter.title}
                                excerpt={post.frontmatter.excerpt}
                                date={post.frontmatter.date}
                                url={post.frontmatter.slug}
                            />
                        ))
                }
            </div>
        </div>
    </section>
</section>

<style>
    .grid-minmax .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-column-gap: 0;
        margin: auto;
    }

    @media (max-width: 550px) {
        .grid-minmax .container {
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 0;
            margin: auto;
        }
    }

    .previews {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }

    .showcase {
        height: auto;
        background-color: var(--color-secondary);
        background-image: linear-gradient(
            to bottom,
            var(--color-primary),
            rgb(15 23 42 / 0)
        );
        padding: 30px;
    }

    .showcase-text {
        max-width: 500px;
        color: #fff;
        text-align: center;
        margin: auto;
    }

    .showcase p {
        font-size: 24px;
        margin-bottom: 20px;
    }
</style>
