---
import NewsPreview from '../components/NewsPreview.astro'

const posts = await Astro.glob('../posts/*.md')
---

<section class="showcase">
    <div class="showcase-text">
        <h1>Latest News</h1>
    </div>

    <div class="previews">
        {posts
            .sort((a, b) => (a.frontmatter.date < b.frontmatter.date ? 1 : -1))
            .slice(0,3)
            .map(post => (
            <NewsPreview
                    featuredImg = {post.frontmatter.featuredImg}
                    title = {post.frontmatter.title}
                    excerpt = {post.frontmatter.excerpt}
                    date = {post.frontmatter.date}
                    url = {post.frontmatter.slug}
            />
        ))}
    </div>


    <p class="showcase-demo">
        <small>This is a test website.</small>
    </p>
</section>

<style>

    .previews {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }

    .showcase {
        height: auto;
        background-color: var(--color-secondary);
        background-image: linear-gradient(to bottom, var(--color-primary), rgb(15 23 42 / 0));
        padding: 30px;
    }

    .showcase-blog {
        min-height: 300px;
    }

    .showcase-text {
        max-width: 500px;
        color: #fff;
        text-align: center;
        margin: auto;
    }

    .showcase h1 {
        font-size: 45px;
        color: var(--color-tertiary);
        margin-bottom: 20px;
    }

    .showcase p {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .showcase-img {
        text-align: center;
    }

    .showcase-img img {
        border-radius: 10px;
        margin: auto;
    }

    .showcase-demo {
        color: #fff;
        text-align: center;
        font-weight: 300;
    }
</style>